.about-wrapper {
    position: relative;
    z-index: 9;
    margin: 0 60px;
    margin-bottom: 110px;
    

    .about-line {
        position: absolute;
        bottom: -110px;
        right: -20px;
        z-index: -1;
    }

    .bg-shape {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #EFF5F6;
        transition: all 500ms ease;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1800 870"><path d="M0 105.791C0 43.7521 63.8552 2.25424 120.547 27.4504C187.046 57.0058 262.954 57.0058 329.453 27.4504L337.5 23.8741C409.122 -7.95805 490.878 -7.95803 562.5 23.8741C634.122 55.7063 715.878 55.7063 787.5 23.8741C859.122 -7.95803 940.878 -7.95803 1012.5 23.8741C1084.12 55.7063 1165.88 55.7063 1237.5 23.8741C1309.12 -7.95803 1390.88 -7.95801 1462.5 23.8742L1470.55 27.4505C1537.05 57.0058 1612.95 57.0058 1679.45 27.4504C1736.14 2.25424 1800 43.7521 1800 105.791V615.331C1800 672.302 1752.47 717.762 1695.56 715.232L1359.96 700.317C1353.34 700.022 1346.7 700.387 1340.15 701.407L915.371 767.483C905.185 769.068 894.815 769.068 884.629 767.483L459.851 701.407C453.3 700.387 446.664 700.022 440.04 700.317L104.44 715.232C47.5251 717.762 0 672.302 0 615.331V105.791Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        width: 100%;
        height: 860px;
        z-index: -1;
    }

    .about-image {
        max-width: 526px;
        position: relative;
        bottom: -65px;

        .about-image-2 {
            position: absolute;
            bottom: 0;
            right: -60%;
            max-width: 468px;

            img {
                 border-bottom-left-radius: 0;
            }
        }

        img {
            @include imgw;
            border-bottom-left-radius: 100px;
        }
    }

    .about-content {
        max-width: 740px;
        margin-top: 70px;

        .about-text {
            font-size: 18px;
            font-weight: 600;
            margin-top: 22px;
            max-width: 700px;
        }

        .icon-box {
            margin-top: 30px;
            @include flex;
            gap: 30px;

            li {
                background-color: $white;
                border-radius: 35px;
                padding: 20px;
                @include flex;
                gap: 20px;
                padding-right: 40px;

                .icon {
                    width: 56px;
                    height: 56px;
                    line-height: 56px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #FEF4DE;
                }

                .content {
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }

        .about-text-2 {
            max-width: 690px;
            font-size: 18px;
            margin-top: 30px;
            border-bottom: 1px solid rgba(56, 84, 105, 0.2);
            padding-bottom: 30px;
        }

        .about-button {
            @include flex;
            gap: 30px;
            margin-top: 40px;

            .author-icon {
                @include flex;
                gap: 15px;

                .icon {
                    width: 56px;
                    line-height: 59px;
                    height: 59px;
                    text-align: center;
                    background-color: $header-color;
                    text-align: center;
                    color: $white;
                    border-radius: 15px;
                    position: relative;
                }

                .content {
                    h4 {
                        font-weight: 700;
                        font-size: 24px;

                        a {
                            color: $header-color;

                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }

                    span {
                        font-size: 16px;
                        font-weight: 600;
                        color: $header-color;
                        font-family: $heading-font;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

.about-section {
    position: relative;


    .about-vec {
        position: absolute;
        left: 28%;
        top: 11%;
        z-index: 91;
        animation: rounded 5s linear infinite;
    }

     .about-vec2 {
        position: absolute;
        right: 15%;
        bottom: 17%;
        z-index: 91;
        animation: rounded 5s linear infinite;
    }

    .about-vec3 {
        position: absolute;
        left: 20%;
        bottom: 10%;
         animation: rounded 5s linear infinite;
    }
}

.book-admission-content {
    position: relative;
    max-width: 610px;

    .vec-1 {
        position: absolute;
        bottom: -50px;
        left: 5px;
    }

    .vec-2 {
        position: absolute;
        bottom: 10%;
        right: -25px;
    }

    .bg-shape {
        max-width: 610px;
        position: relative;


        img {
            width: 100%;
            height: 100%;
        }

        .bg-shape2 {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            max-width: 547px;
            margin: 0 auto;
            transform: translateY(-50%);
        }
    }

   

   .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        padding-top: 130px;
        padding-left: 105px;

        @include breakpoint (max-md){
            padding-top: 80px;
            padding-left: 65px;
            padding-right: 30px;
        }

        @include breakpoint (max-xxs){
            padding-left: 50px;
        }

        .info-content {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 60px;

             @include breakpoint (max-md){
                margin-top: 30px;
            }

            @include breakpoint (max-xxs){
                margin-top: 18px;
            }

            .icon {
                width: 56px;
                height: 59px;
                line-height: 59px;
                background-color: $theme-color;
                text-align: center;
                border-radius: 16px;
            }

            .info-cont {
                p {
                    font-weight: 600;
                }

                h3 {
                    font-size: 30px;

                    @include breakpoint (max-md){
                        font-size: 23px;
                    }

                    @include breakpoint (max-sm){
                        font-size: 20px;
                    }

                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
   }
}

.book-admission-banner {
    height: 850px;

    @include breakpoint (max-md){
        height: 750px;
    }

    @include breakpoint (max-sm){
        height: 700px;
    }
}

.about-wrapper-2 {
    margin-top: 15px;

    .about-content-2 {
        position: relative;
        z-index: 9;

       .about-text {
            margin-top: 30px;

            @include breakpoint (max-md){
                margin-top: 20px;
            }
       }

       .about-list {
            padding: 30px;
            background-color: $white;
            border-radius: 35px;
            @include flex;
            gap: 20px;
            margin-top: 27px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
            }

            @include breakpoint (max-md){
                padding: 28px;
                margin-top: 22px;
            }

            ul {
                li {
                    font-size: 18px;
                    color: $header-color;
                    font-family: $heading-font;
                    font-weight: 700;
                    @include flex;
                    gap: 10px;

                    @include breakpoint (max-xxl){
                        font-size: 16px;
                    }

                    &:not(:last-child){
                        margin-bottom: 25px;

                        @include breakpoint (max-xl){
                            margin-bottom: 18px;
                        }
                    }
                }
            }
       }

      .about-button {
            @include flex;
            gap: 30px;
            margin-top: 40px;

            @include breakpoint (max-xl){
               flex-wrap: wrap;
               gap: 20px;
            }

            @include breakpoint (max-md){
                margin-top: 25px;
            }

            .author-icon {
                @include flex;
                gap: 15px;

                .icon {
                    width: 56px;
                    line-height: 59px;
                    height: 59px;
                    text-align: center;
                    background-color: $header-color;
                    text-align: center;
                    color: $white;
                    border-radius: 15px;
                    position: relative;
                }

                .content {
                    h4 {
                        font-weight: 700;
                        font-size: 24px;

                        a {
                            color: $text-color;

                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }

                    span {
                        font-size: 16px;
                        font-weight: 600;
                        color: $header-color;
                        font-family: $body-font;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .about-image {
        position: relative;
        z-index: 9;

        img {
            @include imgw;
        }

        .shape1 {
            position: absolute;
            right: 17%;
            bottom: 20%;

            @include breakpoint (max-xxl){
                display: none;
            }

            img {
                width: initial;
                height: initial;
            }
        }

        .shape2 {
            position: absolute;
            right: 7%;
            top: 30%;

            @include breakpoint (max-xxl){
                display: none;
            }

            img {
                width: initial;
                height: initial;
            }
        }
    }
}

.about-section-2 {
    position: relative;

    .about-pencil {
        position: absolute;
        left: 40px;
        bottom: 270px;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .about-vec {
        position: absolute;
        right: 136px;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .about-vec2 {
        position: absolute;
        right: 142px;
        bottom: 120px;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }
}