//>>>>> Component Button Here <<<<<//
.theme-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 1;
	color: $white;
	background-color: $theme-color;
	padding: 5.5px;
	border-radius: 50px;
	position: relative;
	z-index: 1;
	font-weight: 600;
	text-transform: capitalize;
	.btn_inner {
		position: relative;
		z-index: 1;
		padding: 15px 30px 15px 60px;
		width: 100%;
		text-align: center;
		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			inset-inline-start: 0;
			width: 45px;
			height: 100%;
			background-color: $header-color;
			border-radius: 50px;
			transition: all 0.3s ease-in-out 0s;
		}
		.btn_icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			inset-inline-start: 0;
			top: 0;
			min-width: 45px;
			height: 100%;
			z-index: 2;
			font-size: 16px;
			line-height: 1;
			color: $white;
			> span {
				overflow: hidden;
				position: relative;
				display: inline-flex;

				i {
					&:first-child,
					&:last-child {
						transition: transform 0.4s ease-in-out 0s;
					}
				}
				i:last-child {
					position: absolute;
					transform: translateX(-150%);
				}

				img {
					&:first-child,
					&:last-child {
						transition: transform 0.4s ease-in-out 0s;
					}
				}
				img:last-child {
					position: absolute;
					transform: translateX(-150%);
				}
			}
		}
		.btn_text {
			display: inline-flex;
			overflow: hidden;
			color:$white;
			text-shadow: 0 23px 0 currentColor;
			white-space: nowrap;
			> span {
				display: flex;
				align-items: center;
				backface-visibility: hidden;
				transform: translateY(0);
				transition: 0.5s;
			}
		}
	}

	&:hover {
		.btn_inner {
			&::before {
				width: 100%;
			}
			.btn_icon {
				i:first-child {
					transform: translateX(150%);
				}
				i:last-child {
					transform: translateX(0);
				}

				img:first-child {
					transform: translateX(150%);
				}
				img:last-child {
					transform: translateX(0);
				}
			}
			.btn_text {
				color: $white;

				> span {
					transform: translateY(-24px);
				}
			}
		}
	}
}

.gt-theme-btn-main {
  display: inline-flex;
  align-items: center;
  gap: 0;
  position: relative;
  transition: all 0.4s ease;
  text-transform: capitalize;

  &.style-2 {
	background-color: $theme-color-3;
	border-radius: 70px;
	padding: 7px 30px;
	padding-right: 7px;

	.gt-theme-btn-arrow-left,
	.gt-theme-btn-arrow-right {
		width: 43px;
		height: 43px;
		background: $header-color-3;
		color: $white;
	}

	.gt-theme-btn {
		background-color: transparent;
		padding: 0;
		margin-right: 17px;
		font-weight: 600;
	}

	&:hover {
		padding-right: 30px;
		padding-left: 9px;

		.gt-theme-btn {
			background-color: transparent;
		}

		.gt-theme-btn-arrow-left {
			left: 5px;
		}
	}
  }
  
  &.style-4 {
	.gt-theme-btn {
		background-color: $theme-color-4;
		color: $white;
	}

	.gt-theme-btn-arrow-left,
  	.gt-theme-btn-arrow-right {
		background-color: $theme-color-4;
		color: $white;
	}

	&:hover {
		.gt-theme-btn {
			background-color: $header-color-4;
			color: $white;
		}

		.gt-theme-btn-arrow-left,
		.gt-theme-btn-arrow-right {
			background-color: $header-color-4;
			color: $white;
		}
	}
  }

  &.style-5 {
	.gt-theme-btn {
		background-color: $theme-color-5;
		color: $header-color-4;
	}

	.gt-theme-btn-arrow-left,
  	.gt-theme-btn-arrow-right {
		background-color: $theme-color-5;
		color: $header-color-4;
	}

	&:hover {
		.gt-theme-btn {
			color: $white;
		}

		.gt-theme-btn-arrow-left,
		.gt-theme-btn-arrow-right {
			color: $white;
		}
	}
  }

  &:hover {
    .gt-theme-btn-arrow-left {
      scale: 1;
    }

    .gt-theme-btn-arrow-right {
      scale: 0;
    }

    .gt-theme-btn {
      transform: translateX(56px);
    }
  }

  .gt-theme-btn-arrow-left,
  .gt-theme-btn-arrow-right {
    width: 53px;
    height: 53px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $theme-color-2;
    color: $white;
    border-radius: 50%;
    transition: 0.4s;
    text-align: center;

	@include breakpoint (max-sm){
		width: 48px;
		height: 48px;
	}
  }

  .gt-theme-btn-arrow-left {
    scale: 0;
    position: absolute;
    left: 3px;
  }

  .gt-theme-btn {
    background: $theme-color-2;
    color: $white;
    font-weight: 600;
    font-size: 16px;
	padding: 13px 30px;
    display: inline-flex;
	font-family: $heading-font;
    align-items: center;
    gap: 30px;
    border-radius: 40px;
    transition: 0.4s;

	@include breakpoint (max-sm){
		font-size: 14px;
    	padding: 10px 25px;
	}
  }

  &:hover {
	.gt-theme-btn {
		background-color: $header-color;
	}

	.gt-theme-btn-arrow-left,
  	.gt-theme-btn-arrow-right {
		background-color: $header-color;
	}
  }
}

 .link-btn {
	display: inline-block;
	color: $header-color;
	font-size: 16px;
	font-weight: 600;
	@include transition;
	text-transform: capitalize;

	i {
		margin-right: 5px;
	}

	&:hover {
		color: $theme-color;
	}
}

//>>>>> Component Button End <<<<<//


@keyframes slideRight {
    49% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    51% {
      opacity: 1;
    }
}

@keyframes slideUp {
    49% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    51% {
      opacity: 1;
    }
}