//>>>>> Component Button Here <<<<<//
.theme-btn {
  position: relative;
  display: inline-block; // ensure size fits content
  cursor: pointer;
  overflow: hidden;

  .theme-text {
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    font-family: $heading-font;
    color: $white;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    gap: 12px;
    z-index: 2;
    //transition: color 0.3s ease; 
    overflow: hidden;
    transition: all 700ms ease;
    z-index: 99;
    text-transform: capitalize;
  }

  .theme-bg {
    display: block;
    svg {
      width: 100%;
      max-width: 170px;
      display: block;
      path {
        transition: fill 0.4s ease;
      }
    }
  }

  &:hover {
    .theme-bg svg path {
      fill: $header-color; 
    }

	.theme-text {
		 animation: slideRight 600ms;
	}
  }

  &.hover-header {
	 &:hover {
		.theme-bg svg path {
			fill: $theme-color; 
		}
	}
  }
}


// .theme-btn {
//   position: relative;
//   height: 59px;
//   border: 0;
//   padding: 0;
//   background: none;
//   cursor: pointer;
//   color: #F39F5F;
//   white-space: nowrap;
//   transition: transform 0.3s ease;

//   &:hover {
//     transform: translateY(-3px);
//     color: $header-color;

//     .theme-btn-text {
//       color: #000;
//     }
//   }

//   .btn-bg {
//     position: absolute;
//     inset: 0;
//     display: flex;

//     .btn-left,
//     .btn-right {
//       width: 85px;
//       height: 59px;
//       flex-shrink: 0;
//     }

//     .btn-middle {
//       flex: 1;
//       background: currentColor;
//     }
//   }

//   /* Text */
//   .theme-btn-text {
//     position: relative;
//     z-index: 2;
//     padding: 0 40px;
//     display: inline-flex;
//     align-items: center;
//     height: 59px;
//     font-size: 15px;
//     font-weight: 500;
//     color: #232323;
//   }
// }


//>>>>> Component Button End <<<<<//


@keyframes slideRight {
    49% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    51% {
      opacity: 1;
    }
}

@keyframes slideUp {
    49% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    51% {
      opacity: 1;
    }
}