.newsletter-wrapper {
    position: relative;
    z-index: 9;
    padding: 120px 50px;
    margin-bottom: 50px;
    margin-top: 38px;

    @include breakpoint (max-xxl){
        padding-top: 60px;
    }

    @include breakpoint (max-xl){
        margin-top: 0;
        margin-bottom: 0;
        padding: 60px 40px;
    }

    @include breakpoint (max-md){
        padding: 50px 30px;
    }

    .border-shape {
        position: absolute;
        top: 20px;
        left: 50px;
        right: 0;
        max-width: 1360px;
        z-index: -1;

        @include breakpoint (max-xl){
           display: none;
        }

        img {
            width: 100%;
        }
    }

    .vec-1 {
        position: absolute;
        right: 0;
        top: -30px;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xl){
            display: none;
        }
        
    }

     .vec-2 {
        position: absolute;
        left: -20px;
        bottom: -15px;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .vec-3 {
        position: absolute;
        left: 35px;
        bottom: 60px;

        @include breakpoint (max-xl){
            opacity: .3;
        }
    }

    .newsletter-bg {
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1410 425"><path fill-rule="evenodd" clip-rule="evenodd" d="M47.8559 86.0209C54.8213 36.6825 97.0464 0 146.874 0H1263.13C1312.95 0 1355.18 36.6826 1362.14 86.021L1393.91 311.021C1402.41 371.213 1355.68 425 1294.89 425H115.109C54.3206 425 7.5935 371.213 16.0912 311.021L47.8559 86.0209Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        position: absolute;
        top: 0;
        left: 0;

        @include breakpoint (max-xl){
            mask: none;
            border-radius: 16px;
            bottom: 0;
            overflow: hidden;
        }

        &::before {
            @include before;
            background: #385469;
            opacity: 0.8;

            @include breakpoint (max-xl){
                border-radius: 16px;
            }
        }
        
        img {
            @include imgw;
        }
    }

    .content {
        text-align: center;
        position: relative;
        z-index: 99;

        .newsletter-items {
            margin-top: 50px;
            position: relative;
            max-width: 760px;
            margin: 50px auto 0;

            .icon {
                position: absolute;
                left: 22px;
                top: 20px;

                @include breakpoint (max-sm){
                    top: 16px;
                }
            }

            .subscribe-btn {
                display: inline-block;
                background-color: $theme-color;
                color: $white;
                border-radius: 100px;
                padding: 23px 40px;
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
                line-height: 1;
                @include transition; 

                @include breakpoint (max-md){
                    position: static;
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    padding: 0 18px;
                    margin-top: 10px;
                }

                &:hover {
                    background-color: $header-color;
                }
            }

            input {
                border: none;
                width: 100%;
                background-color: $white;
                height: 68px;
                line-height: 68px;
                border-radius: 100px;
                padding-left: 56px;
                color: $text-color;
                padding-right: 210px;

                @include breakpoint (max-xl){
                    height: 60px;
                    line-height: 60px;
                }

                @include breakpoint (max-md){
                    padding-right: 30px;
                }
            }
        }
    }

    &.style-2 {
        padding: 100px 50px;
        position: relative;

        .plane-1 {
            position: absolute;
            top: 70px;
            left: 120px;
            z-index: 1;
        }

        .flower-shape {
            position: absolute;
            bottom: 60px;
            left: 90px;
            z-index: 9;
        }

        .newsletter-bg {
            background-color: #E6E8FC;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &::before {
                display: none;
            }
        }
    }

    &.bg-new-add {

        .newsletter-bg {
            background-color: #385469;
        }
    }
}

.newsletter-section {
    position: relative;

    .zirap-shape {
        position: absolute;
    }

    .line-shape {
        position: absolute;
        left: 0;
        top: -30%;
    }

    .line-shape2 {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.cta-section-4 {
    position: relative;
    background-position: initial;

    .plane-shape {
        position: absolute;
        left: 50px;
        top: 60%;
        animation: rounded 5s linear infinite;
    }

    .pencil-shape {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.cta-wrapper-4 {
    margin-top: 45px;

    @include breakpoint (max-xxl){
        margin-top: 45px;
    }

    @include breakpoint (max-lg){
        text-align: center;
        margin-top: 60px;
    }

    .cta-image {
        text-align: right;
        margin-bottom: -120px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
            margin-bottom: -100px;
        }

        @include breakpoint (max-lg){
            margin-bottom: -80px;
            text-align: center;
        }

        .cta-shape {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            @include breakpoint (max-xxl){
                left: 50%;
                transform: translateX(-50%);
            }

            @include breakpoint (max-xxl){
                left: 35%;
            }

            @include breakpoint (max-lg){
                left: 39%;
            }
        }
    }
}

.main-cta-section {
    position: relative;

    .plane-shape {
        position: absolute;
        top: -50px;
        right: 20px;
    }
}

.main-cta-wrapper {
    position: relative;
    z-index: 9;

    .cta-bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $theme-color;
        transition: all 500ms ease;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1170 485"><path d="M93.3383 50.2529C66.3045 51.6585 41.1387 60.7949 23.6656 75.5536C6.19249 90.3123 -2.15943 109.444 0.478019 128.654L38.7211 404.697C43.6663 440.539 85.4259 468.182 136.197 469.198L941.937 484.972C988.862 485.909 1030.4 463.653 1042.16 431.403L1166.78 89.5314C1174.91 67.1981 1167.44 43.4592 1146.67 25.7331C1125.9 8.00706 1094.36 -1.51972 1062.05 0.198227L93.3383 50.2529Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .newsletter-items {
        max-width: 550px;
        text-align: center;
        margin: 50px auto;
        position: relative;

        @include breakpoint (max-md){
            padding: 0 15px;
        }

        .form-clt {
            input {
                width: 100%;
                background-color: $white;
                border: none;
                outline: none;
                border-radius: 8px;
                padding: 20px 20px;
                color: $text-color;
            }
        }

        .subscribe-btn {
            position: absolute;
            top: 8px;
            right: 8px;
            bottom: 8px;
            border-radius: 6px;
            padding: 10px 40px;
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
            font-family: $heading-font;
            background-color: $theme-color;
            color: $white;
            @include transition;

            &:hover {
                background-color: $header-color;
            }

            @include breakpoint (max-md){
               right: 25px;
            }
        }
    }

    .pencil-shape {
        position: absolute;
        top: 30%;
        left: 5%;
        opacity: .5;
        animation: rounded 5s linear infinite;
    }

    .plane-shape {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }

    .cta-shape {
        position: absolute;
        left: 15%;
        bottom: 10%;
    }
}
