.newsletter-wrapper {
    position: relative;
    z-index: 9;
    padding: 120px 50px;
    margin-bottom: 50px;
    margin-top: 38px;

    @include breakpoint (max-xxl){
        padding-top: 60px;
    }

    @include breakpoint (max-xl){
        margin-top: 0;
        margin-bottom: 0;
        padding: 60px 40px;
    }

    @include breakpoint (max-md){
        padding: 50px 30px;
    }

    .border-shape {
        position: absolute;
        top: 20px;
        left: 50px;
        right: 0;
        max-width: 1360px;
        z-index: -1;

        @include breakpoint (max-xl){
           display: none;
        }

        img {
            width: 100%;
        }
    }

    .vec-1 {
        position: absolute;
        right: 0;
        top: -30px;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xl){
            display: none;
        }
        
    }

     .vec-2 {
        position: absolute;
        left: -20px;
        bottom: -15px;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .vec-3 {
        position: absolute;
        left: 35px;
        bottom: 60px;

        @include breakpoint (max-xl){
            opacity: .3;
        }
    }

    .newsletter-bg {
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1410 425"><path fill-rule="evenodd" clip-rule="evenodd" d="M47.8559 86.0209C54.8213 36.6825 97.0464 0 146.874 0H1263.13C1312.95 0 1355.18 36.6826 1362.14 86.021L1393.91 311.021C1402.41 371.213 1355.68 425 1294.89 425H115.109C54.3206 425 7.5935 371.213 16.0912 311.021L47.8559 86.0209Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        position: absolute;
        top: 0;
        left: 0;

        @include breakpoint (max-xl){
            mask: none;
            border-radius: 16px;
            bottom: 0;
            overflow: hidden;
        }

        &::before {
            @include before;
            background: #385469;
            opacity: 0.8;

            @include breakpoint (max-xl){
                border-radius: 16px;
            }
        }
        
        img {
            @include imgw;
        }
    }

    .content {
        text-align: center;
        position: relative;
        z-index: 99;

        .newsletter-items {
            margin-top: 50px;
            position: relative;
            max-width: 760px;
            margin: 50px auto 0;

            .icon {
                position: absolute;
                left: 22px;
                top: 20px;

                @include breakpoint (max-sm){
                    top: 16px;
                }
            }

            .subscribe-btn {
                display: inline-block;
                background-color: $theme-color;
                color: $white;
                border-radius: 100px;
                padding: 23px 40px;
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
                line-height: 1;

                @include breakpoint (max-sm){
                    position: static;
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    padding: 0 18px;
                    margin-top: 10px;
                }

                &:hover {
                    background-color: $header-color;
                }
            }

            input {
                border: none;
                width: 100%;
                background-color: $white;
                height: 68px;
                line-height: 68px;
                border-radius: 100px;
                padding-left: 56px;
                color: $text-color;

                @include breakpoint (max-xl){
                    height: 60px;
                    line-height: 60px;
                }
            }
        }
    }

    &.style-2 {
        padding: 100px 50px;
        position: relative;

        .plane-1 {
            position: absolute;
            top: 70px;
            left: 120px;
            z-index: 1;
        }

        .flower-shape {
            position: absolute;
            bottom: 60px;
            left: 90px;
            z-index: 9;
        }

        .newsletter-bg {
            background-color: #E6E8FC;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &::before {
                display: none;
            }
        }
    }
}

.newsletter-section {
    position: relative;

    .zirap-shape {
        position: absolute;
    }

    .line-shape {
        position: absolute;
        left: 0;
        top: -30%;
    }

    .line-shape2 {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.special-offer-section {
    position: relative;

    .tree-shape {
        position: absolute;
        left: 53px;
        top: 0;
    }

    .doll-shape {
        position: absolute;
        bottom: -12%;
        right: 12%;
    }
}