.faq-section {
    // background-color: #EFF5F6;
    position: relative;
    z-index: 99;

    .bg-shape {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.faq-content-1 {
    .faq-text {
        margin-top: 30px;
        font-size: 18px;
    }

    .accordion-box {
        position: relative;
        margin-top: 35px;

        .block {
            position: relative;
            background-color: transparent;
            margin-bottom: 10px;
            margin-bottom: 20px;
            line-height: 1;
            border-radius: 25px;
            background-color: $white;
            padding: 20px 30px;

            .acc-btn {
                position: relative;
                font-size: 24px;
                color: $header-color;
                font-weight: 700;
                font-family: $heading-font;
                text-transform: capitalize;
                cursor: pointer;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;

                @include breakpoint (max-xxs){
                    font-size: 20px;
                }

                .number {
                    color: $text-color;
                    font-family: $heading-font;
                    font-size: 32px;
                    font-weight: 500;
                    letter-spacing: -3px;
                    margin-left: -50px;
                    margin-right: 15px;
                }


                .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 35px;
                    font-size: 18px;
                    line-height: 18px;
                    color: $header-color;
                    -webkit-transition: all 500ms ease;
                    transition: all 500ms ease;
                }
            }

            .acc-content {
                position: relative;
                display: none;
                margin-top: 22px;

                @include breakpoint (max-xxs){
                    margin-top: 10px;
                }

                .content {
                    position: relative;

                    .text {
                        line-height: 175%;
                        font-size: 18px;
                        font-weight: 400;
                        color: $text-color;
                        max-width: 570px;

                        @include breakpoint (max-xl){
                            font-size: 14px;
                        }

                        @include breakpoint (max-xxs){
                            font-size: 13px;
                        }
                    }
                }
            }

        }
    }


    .accordion-box .block .acc-content.current {
        display: block;
    }

    .accordion-box .block .acc-btn.active .icon {
        transform: rotate(40deg);

        svg path {
            fill: $theme-color;
        }
    }

    .accordion-box .block .acc-btn.active {
        color: $theme-color;
    }

    .accordion-box .block:last-child {
        margin-bottom: 0;
    }
}