.feature-box-items {
    position: relative;
    height: 100%;
    padding: 23px;
    padding-right: 34px;
    padding-bottom: 48px;

    .border-circle {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
    }

    .feature-bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $bg-color-3;
        transition: all 500ms ease;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330 280'%3E%3Cpath d='M0 179.187C0 144.219 18.2654 111.548 48.1698 93.4239L178.17 14.636C244.814 -25.7542 330 22.2278 330 100.156V179.618C330 234.846 285.228 279.618 230 279.618H100C44.7715 279.618 0 234.415 0 179.187Z'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;

        &.bg-2 {
            background-color: $bg-color-4;
        }

        &.bg-3 {
            background-color: $bg-color-2;
        }

        &.bg-4 {
            background-color: $bg-color-5;
        }
    }

    .icon-box {
        text-align: right;
        position: relative;
        max-width: 168px;
        margin-left: auto;
        margin-bottom: 30px;

        .icon {
            position: absolute;
            top: 50%;
            text-align: center;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }
    }

    h2 {
        font-size: 24px;
        text-align: center;
        
        position: relative;
        z-index: 5;
    }

    &:hover {
        .icon-box {
            .icon {
                img {
                    animation: wobble 1.5s ease-in-out;
                }
            }
        }
    }
}

.feature-section {
    margin-bottom: 10px;
    position: relative;

    .penil-shape {
        position: absolute;
        bottom: 100px;
        left: 60px;
        animation: rounded 5s linear infinite;
    }

    .zirap-shape {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.choose-us-wrapper {
   
    .choose-us-content {
        max-width: 635px;

        .nav {
            padding: 0;
            @include flex;
            gap: 15px;
            margin-top: 40px;

            .nav-item {
                .nav-link {
                    padding: 0;
                    font-size: 16px;
                    font-weight: 600;
                    color: $header-color;
                    background: rgba(92, 112, 126, 0.1);
                    border-radius: 12px;
                    padding: 10px 14px;
                    line-height: 1;

                    &.active {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
        }

        .choose-items {
            margin-top: 30px;
            border-bottom: 1px solid rgba(56, 84, 105, 0.2);
            padding-bottom: 28px;
              border-top: 1px solid rgba(56, 84, 105, 0.2);
              padding-top: 30px;

            .about-list-items {
                @include flex;
                gap: 100px;
                margin-top: 25px;
            }

            ul {

                li {
                    @include flex;
                    font-size: 18px;
                    font-weight: 600;
                    color: $header-color;
                    gap: 10px;

                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .choose-us-button {
            @include flex;
            gap: 20px;
            margin-top: 38px;
        }
    }

    .choose-us-image {
        transition: all 500ms ease;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 660 510'%3E%3Cpath d='M559.218 139.383C543.686 139.383 529.032 142.988 515.888 149.25C505.538 65.1468 433.688 0 346.532 0C288.542 0 237.343 28.8591 206.49 72.9288C195.736 63.5706 181.699 57.8525 166.301 57.8525C132.499 57.8525 105.092 85.1708 105.092 118.879C105.092 126.237 106.467 133.262 108.856 139.793C106.191 139.581 103.511 139.39 100.789 139.39C45.1235 139.39 0 184.379 0 239.878C0 295.377 45.1235 340.365 100.789 340.365H559.211C614.876 340.365 660 295.377 660 239.878C660.007 184.372 614.883 139.383 559.218 139.383Z'/%3E%3Cpath d='M100.782 370.617C116.314 370.617 130.968 367.012 144.112 360.75C154.462 444.853 226.312 510 313.468 510C371.458 510 422.657 481.141 453.51 437.071C464.264 446.429 478.301 452.148 493.699 452.148C527.501 452.148 554.908 424.829 554.908 391.121C554.908 383.764 553.533 376.738 551.144 370.207C553.809 370.419 556.489 370.61 559.211 370.61C614.877 370.61 660 325.621 660 270.122C660 214.624 614.877 169.635 559.211 169.635L100.789 169.635C45.1235 169.635 0.000242248 214.623 0.000237382 270.122C-0.00685679 325.628 45.1166 370.617 100.782 370.617Z'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        max-width: 660px;
        mask-position: center center;
        mask-size: cover;
        position: relative;
        z-index: 99;

        .vec-shape {
            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            @include imgw;
        }
    }

    .choose-us-image-items {
        position: relative;

        .vec-shape {
            position: absolute;
            top: 10%;
            left: 0;
            right: 0;
        }
    }
}

.choose-us-section {
    position: relative;

    .shape1 {
        position: absolute;
        bottom: 20%;
        left: 20px;
        animation: rounded 5s linear infinite;
    }

    .shape2 {
        position: absolute;
        top: 4%;
        left: 50%;
    }

    .shape3 {
        position: absolute;
        bottom: 6%;
        right: 0;
    }
}

.counter-box-items {
    position: relative;
    @include transition;

    .bg-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-in-out;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .counter-box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        left: 0;
        right: 0;
        z-index: 99;

        h2 {
            font-size: 40px;
            position: relative;
            z-index: 99;
        }

        p {
            position: relative;
            z-index: 99;
            font-size: 16px;
            text-transform: capitalize;
        }

        .bg-shape {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 156px;
            height: 156px;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 156"><path fill-rule="evenodd" clip-rule="evenodd" d="M156 94.5957C156 140.729 113.558 156 73.1553 156C32.7527 156 0 140.729 0 94.5957C0 48.4623 32.7527 0 73.1553 0C113.558 0 156 48.4623 156 94.5957Z" /></svg>');
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: cover;
            background-color: #FEF4DE;
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
            visibility: hidden;
            transition: all 0.8s ease-in-out;
            z-index: 11;

            &.bg-2 {
                background-color: #E1F6FE;
            }

            &.bg-3 {
                background-color: #E6E8FC;
            }

             &.bg-4 {
                background-color: #FEDFEF;
            }
        }
    }

    &:hover {
        .bg-image {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -50%) scale(1);
        }

        .counter-box {
            .bg-shape {
                 opacity: 1;
                visibility: visible;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}

.school-facilities-section {
    .facilities-text {
        @include flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 60px;

        .line {
            width: 264px;
            height: 1px;
            background-color: rgba(92, 112, 126, .20);
        }
        p {
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            color: $theme-color;
            text-transform: capitalize;
            font-family: $sub-font;
        }
    }
}

.school-facilities-wrapper {
     display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;

    .school-facilities-box-items {
        text-align: center;

        .thumb {
            max-width: 210px;
            margin: 0 auto;
            position: relative;

            .icon {
                position: absolute;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%)
                ;
                img {
                    width: initial;
                    height: initial;
                }
            }

            img {
                @include imgw;
            }
        }

        .title {
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
            margin-top: 20px;
        }

        &:hover {
            .thumb {
                .icon {
                    img {
                        animation: wobble 1.5s ease-in-out;
                    }
                }
            }
        }
    }
}

.choose-us-section-2 {
    position: relative;

    .men-shape {
        position: absolute;
        left: 50px;
        top: 25%;
    }

    .girl-shape {
        position: absolute;
        right: 45px;
        bottom: 10%;
    }
}