.array-button {
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 999;

    .array-prev,.array-next {
        border-radius: 100px;
        border: 1px solid #E6E8EB;
        width: 54px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        border-radius: 50%;
        color: $header-color;
        @include transition;
        cursor: pointer;
        

        &:hover {
            background-color: $theme-color;
            color: $white;
        }
    }
}

//pagination default
.swiper-dot {
  position: relative;
  .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      transition: 0.6s;
      background-color: #E6E8EB;
      opacity: 1;
      border-radius: 10px;
      &:not(:last-child){
      margin-right: 5px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      transition: 0.6s;
      position: relative;
  }

}


.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

.sticky-style {
  position: sticky !important;
  top: 100px;
}

.gt-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.gt-brand-slide-element {
	width: auto;
	display: inline-block;
}

.p-relative {
  position: relative;
}

.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 70px;
      height: 70px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(236, 72, 153, 0.5);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}


.page-nav-wrap {
    margin-top: 60px;

    ul {
        li {
            display: inline-block;

            &.active {

                .page-numbers {
                    background-color: $theme-color;
                    color: $white;
                }
            }

            .page-numbers {
                &.current {
                    background-color: $theme-color;
                    color: $white;
                }

                display: inline-block;
                width: 48px;
                height: 48px;
                text-align: center;
                line-height: 48px;
                border-radius: 0;
                background: $header-color;
                color: $white;
                font-weight: 500;
                transition: all 0.3s ease-in-out;
                margin: 0 2px;
                border-radius: 50%;
                font-family: $heading-font;

                @media (max-width: 767px) {
                    margin-top: 10px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                }

                i {
                    margin-top: 2px;
                    color: $white;
                    @include transition;
                }

                &:hover {
                    background-color: $theme-color;
                    color: $white;

                    i {
                        color: $white;
                    }
                }
            }
        }
    }
}

// .full-img,.full-img2,.full-img3 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 130%;
//   background-position: top;
//   background-repeat: no-repeat;
//   object-fit: cover;
// }

.box-user {
    position: sticky;
    top: 0px;
    padding-top: 60px;
}

.text_invert > div {
  background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.text_invert-2 > div {
  background-image: linear-gradient(to right, rgb(255, 119, 34) 50%, rgb(0, 0, 0) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}


.actually-area .t_line>div {
  background-image: linear-gradient(to right, var(--header) 50%, #0F172A4C 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.dark .actually-area .t_line>div {
  background-image: linear-gradient(to right, var(--header) 50%, #0F172A4C 51%);
}

.actually-area .bg-area {
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--header);
  width: 250px;
  height: 250px;
  border-radius: 50%;
}


 .tilt_scale {
    transition: transform 0.2s ease;
    display: inline-block;
}

.no-break {
    white-space: nowrap; /* Keeps "My Background and Expertise" together */
}

/* Optional: styling for words split animation */
.split-word {
    display: inline-block; /* Required for animation */
    opacity: 0;
}

.reveal-img {
    opacity: 0;           /* start invisible */
    transform: translateX(-600px); /* start left */

}

.arrow-path {
  width: 220px;
  height: 130px;
  color: black;
  stroke-dasharray: 1000;
  animation: draw 10s linear infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.image-wrapper {
  position: relative;
  transition: all .8s 
cubic-bezier(0.55, 0.085, 0, 0.99);
}

.animated-image {
  display: block;
  transform: translateY(100%);
  opacity: 0;
}


/* preloader শেষ হলে active class যোগ হবে */
.image-wrapper.active .animated-image {
  transform: translateY(0);
  opacity: 1;
}

/* Ensure the link inherits styles from its parent */
.wt-about-title2 a {
    display: inline-block; /* Needed for transform animations */
    color: inherit;
    text-decoration: inherit;
}

.project-section-3  {
    .line-ani {
        margin-top: -25px;

        @include breakpoint (max-xxl){
            display: none;
        }
    }
}

.brand-container {
  max-width: 1660px;
  margin: 0 auto;
}

.gt-text-scale-anim {
    white-space: pre-wrap;
    transform-origin: top left;
}

.gt-letter-span {
    display: inline-block;
}
.gt-word-span {
    display: inline-block;
}

.p-relative {
  position: relative;
  z-index: 99;
}

.mt-30 {
  margin-top: 30px;
}

.body-bg-5 {
  background-color: #FFFDF5 !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.max-weight-inst {
  max-width: initial !important;
}




.color-palate {
    position: fixed;
    left: 0px;
    text-align: center;
    top: 30%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
    max-width: 300px;
    z-index: 999999;
    transform: translate(-100%);

    .palate-logo {
      img {
        width: 150px;
      }
    }

    .color-palate-inner {
        position: relative;
        padding: 30px 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-transition: all;
        transition: all;
        background: #ffffff;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
        height: 100%;

        &.color-2 {
          .box-version {
            li {
                &:first-child {
                    border: 1px solid $theme-color-2;
                    color: $header-color-2;

                    &:hover {
                        background-color: $theme-color-2;
                        color: $white;
                    }
                }

                &:last-child {
                    background-color: $header-color-2;
                    border: 1px solid transparent;

                    &:hover {
                        background-color: $theme-color-2;
                        color: $white;
                    }
                }
            }
        }
        }

         &.color-3 {
          .box-version {
            li {
                &:first-child {
                    border: 1px solid $theme-color-3;
                    color: $header-color-3;

                    &:hover {
                        background-color: $theme-color-3;
                        color: $white;
                    }
                }

                &:last-child {
                    background-color: $header-color-3;
                    border: 1px solid transparent;

                    &:hover {
                        background-color: $theme-color-3;
                        color: $white;
                    }
                }
            }
        }
        }

         &.color-4 {
          .box-version {
            li {
                &:first-child {
                    border: 1px solid $theme-color-4;
                    color: $header-color-4;

                    &:hover {
                        background-color: $theme-color-4;
                        color: $white;
                    }
                }

                &:last-child {
                    background-color: $header-color-4;
                    border: 1px solid transparent;

                    &:hover {
                        background-color: $theme-color-4;
                        color: $white;
                    }
                }
            }
        }
        }

         &.color-5 {
          .box-version {
            li {
                &:first-child {
                    border: 1px solid $theme-color-5;
                    color: $header-color-4;

                    &:hover {
                        background-color: $theme-color-5;
                        color: $white;
                    }
                }

                &:last-child {
                    background-color: $header-color-4;
                    border: 1px solid transparent;

                    &:hover {
                        background-color: $theme-color-5;
                        color: $white;
                    }
                }
            }
        }
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;

            &:hover {
                background: #555;
            }
        }
    }


    .color-picker-panel {
        margin-top: 15px;
    }

    .color-picker-panel input[type="color"] {
        -webkit-appearance: none;
        border: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        background: none;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease;
    }

    .rtl-version {
        li {
            &:first-child {
                background-color: $header-color;
                border: 1px solid transparent;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }

            &:last-child {
                background-color: transparent;
                border: 1px solid $theme-color;
                color: $header-color;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }

    .box-version {
        li {
            &:first-child {
                background-color: transparent;
                border: 1px solid $theme-color;
                color: $header-color;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }

            &:last-child {
                background-color: $header-color;
                border: 1px solid transparent;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}

.color-trigger {
   &.tm-color2 {
      background-color: $theme-color-2 !important;
    }

     &.tm-color3 {
      background-color: $theme-color-3 !important;
    }

     &.tm-color4 {
      background-color: $theme-color-4 !important;
    }

     &.tm-color5 {
      background-color: $theme-color-5 !important;

      i {
        color: #000 !important;
      }
    }
}

.close-color-trigger  {
    &.theme-color2 {
      background: $theme-color-2 !important;
    }

    &.theme-color3 {
      background: $theme-color-3 !important;
    }

    &.theme-color4 {
      background: $theme-color-4 !important;
    }

    &.theme-color5 {
      background: $theme-color-5 !important;

      i {
        color: #000 !important;
      }
    }
    
}

.color-palate .color-trigger,
.color-palate .close-color-trigger {
    background: $theme-color;
    cursor: pointer;
    height: 36px;
    width: 36px;
    left: 100%;
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
            transform: translateY(-40%);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    mix-blend-mode: exclusion;
}
  .color-palate .color-trigger i {
    color: #ffffff;
    font-size: 16px;
    -webkit-animation: fa-spin 2s linear infinite;
            animation: fa-spin 2s linear infinite;
  }
  .color-palate .close-color-trigger i {
    color: #ffffff;
    font-size: 20px;
  }
  .color-palate .close-color-trigger {
    display: none;
  }
  .color-palate h6 {
    font-weight: 700;
    color: $header-color;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
  }
  .color-palate .box-version {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .color-palate .option-box {
    padding-top: 10px;
  }
  .color-palate .option-box .active {
    background-color:$theme-color !important;
    color: $white !important;
  }
  .color-palate .option-box > li {
    position: relative;
    color: #ffffff;
    width: 40%;
    margin: 0px 3px;
    cursor: pointer;
    margin-bottom: 9px;
    padding: 8px 12px;
    font-size: 14px;
    display: inline-block;
    background-color: $theme-color;
    text-transform: uppercase;
    @include transition;
    font-weight: 500;
    font-family: $heading-font
  }
//   .color-palate .option-box > li:hover {
//     background-color: $gt-header-color;
//   }

  
  .color-palate.visible-palate {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
  
  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  
  @keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }


