.hero-1 {
    background-color: $bg-color;
    padding: 100px 0 0;
    position: relative;

    .hero-slider {
        margin-right: -110px;
    }

    .hero-line {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        transform: rotate(180deg);
        z-index: 99;

        img {
            width: 100%;
        }
    }

    .hero-content {
        max-width: 785px;
        .hero-sub {
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            color: $theme-color;
            font-family: $sub-font;
            margin-bottom: 10px;

                transition: all 900ms ease;
                -moz-transition: all 900ms ease;
                -webkit-transition: all 900ms ease;
                -ms-transition: all 900ms ease;
                -o-transition: all 900ms ease;
                text-transform: uppercase;
                transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
                clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }

        .hero-title {
                transition: all 900ms ease;
            -moz-transition: all 900ms ease;
            -webkit-transition: all 900ms ease;
            -ms-transition: all 900ms ease;
            -o-transition: all 900ms ease;
            transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }

        p {
            max-width: 592px;
            margin-top: 30px;

                transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }

        .hero-button {
            @include flex;
            gap: 20px;
            margin-top: 38px;

                transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }
    }

    .hero-image {
        transition: all 900ms ease;
        -moz-transition: all 900ms ease;
        -webkit-transition: all 900ms ease;
        -ms-transition: all 900ms ease;
        -o-transition: all 900ms ease;
        transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }

    .swiper-slide-active {
        .hero-content {
            .hero-sub {
                -webkit-transition-delay: 500ms;
                -moz-transition-delay: 500ms;
                -ms-transition-delay: 500ms;
                -o-transition-delay: 500ms;
                transition-delay: 500ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            .hero-title {
                -webkit-transition-delay: 800ms;
                -moz-transition-delay: 800ms;
                -ms-transition-delay: 800ms;
                -o-transition-delay: 800ms;
                transition-delay: 800ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            p {
                 -webkit-transition-delay: 1100ms;
                -moz-transition-delay: 1100ms;
                -ms-transition-delay: 1100ms;
                -o-transition-delay: 1100ms;
                transition-delay: 1100ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            .hero-button {
                -webkit-transition-delay: 1400ms;
                -moz-transition-delay: 1400ms;
                -ms-transition-delay: 1400ms;
                -o-transition-delay: 1400ms;
                transition-delay: 1400ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
        }

        .hero-image {
               -webkit-transition-delay: 700ms;
            -moz-transition-delay: 700ms;
            -ms-transition-delay: 700ms;
            -o-transition-delay: 700ms;
            transition-delay: 700ms;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
}

