.hero-1 {
    background-color: $bg-color;
    padding: 100px 0 0;
    position: relative;
    overflow: hidden;

    .shape1 {
        position: absolute;
        top: 17%;
        left: 7%;

        @include breakpoint (max-xxl){
           top: 7%;
           left: 2%;
        }

         @include breakpoint (max-xl){
            opacity: .4;
            top: 3%;
        }

    }

    .shape3 {
        position: absolute;
        left: 30%;
        bottom: 13%;

        @include breakpoint (max-xl){
            left: 43%;
            bottom: 8%;
        }
    }

    .shape2 {
        position: absolute;
        top: 12%;
        left: 50%;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xl){
            opacity: .4;
        }

        @include breakpoint (max-lg){
            position: absolute;
            top: 40%;
            left: 0%;
        }
    }

    .shape4 {
        position: absolute;
        bottom: 10%;
        left: 47%;

        @include breakpoint (max-xxxl){
            bottom: 10%;
            left: 42%;
        }

         @include breakpoint (max-xxl){
            left: 39%;
            max-width: 300px;

            img {
                width: 100%;
            }
        }

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .shape5 {
        position: absolute;
        right: 0;
        top: 15%;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xxxl){
            max-width: 170px;

            img {
                @include imgw;
            }
        }

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .hero-slider {
        margin-right: -110px;

        @include breakpoint (max-xxxl){
            margin-right: 0;
        }
    }

    .hero-line {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        transform: rotate(180deg);
        z-index: 99;
        
        @include breakpoint (max-xxxl){
           bottom: -3px;
        }

        @include breakpoint (max-xl){
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .hero-content {
        max-width: 785px;
        margin-top: -150px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
            margin-top: -100px;
        }

        @include breakpoint (max-lg){
            margin-top: 0;
            text-align: center;
        }

        .hero-sub {
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            color: $theme-color;
            font-family: $sub-font;
            margin-bottom: 10px;

             @include breakpoint (max-sm){
                font-size: 16px;
            }

                transition: all 900ms ease;
                -moz-transition: all 900ms ease;
                -webkit-transition: all 900ms ease;
                -ms-transition: all 900ms ease;
                -o-transition: all 900ms ease;
                text-transform: uppercase;
                transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
                clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }

        .hero-title {
            // transition: all 900ms ease;
            -moz-transition: all 900ms ease;
            -webkit-transition: all 900ms ease;
            -ms-transition: all 900ms ease;
            -o-transition: all 900ms ease;
            transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

            @include breakpoint (max-xxs){
                font-size: 35px;
            }
        }

        p {
            max-width: 592px;
            margin-top: 30px;
            transition: all 900ms ease;
            -moz-transition: all 900ms ease;
            -webkit-transition: all 900ms ease;
            -ms-transition: all 900ms ease;
            -o-transition: all 900ms ease;
            transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

            @include breakpoint (max-lg){
                margin: 30px auto 0;
            }

             @include breakpoint (max-md){
                margin-top: 25px;
            }

             @include breakpoint (max-xxs){
                margin-top: 20px;
            }
        }

        .hero-button {
            @include flex;
            gap: 20px;
            margin-top: 38px;
            transition: all 900ms ease;
            -moz-transition: all 900ms ease;
            -webkit-transition: all 900ms ease;
            -ms-transition: all 900ms ease;
            -o-transition: all 900ms ease;
            transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 14px;
            }


            @include breakpoint (max-lg){
                justify-content: center;
            }

            @include breakpoint (max-md){
                margin-top: 30px;
            }

             @include breakpoint (max-xxs){
                margin-top: 20px;
            }
        }
    }

    .hero-image {
        transition: all 900ms ease;
        -moz-transition: all 900ms ease;
        -webkit-transition: all 900ms ease;
        -ms-transition: all 900ms ease;
        -o-transition: all 900ms ease;
        transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

        @include breakpoint (max-xxxl){
            img {
                @include imgw;
            }
        }

         @include breakpoint (max-lg){
            text-align: center;
            max-width: 500px;
            margin: 30px auto 0;
        }
    }

    .swiper-slide-active {
        .hero-content {
            .hero-sub {
                -webkit-transition-delay: 500ms;
                -moz-transition-delay: 500ms;
                -ms-transition-delay: 500ms;
                -o-transition-delay: 500ms;
                transition-delay: 500ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            .hero-title {
                -webkit-transition-delay: 800ms;
                -moz-transition-delay: 800ms;
                -ms-transition-delay: 800ms;
                -o-transition-delay: 800ms;
                transition-delay: 800ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            p {
                 -webkit-transition-delay: 1100ms;
                -moz-transition-delay: 1100ms;
                -ms-transition-delay: 1100ms;
                -o-transition-delay: 1100ms;
                transition-delay: 1100ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            .hero-button {
                -webkit-transition-delay: 1400ms;
                -moz-transition-delay: 1400ms;
                -ms-transition-delay: 1400ms;
                -o-transition-delay: 1400ms;
                transition-delay: 1400ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
        }

        .hero-image {
               -webkit-transition-delay: 700ms;
            -moz-transition-delay: 700ms;
            -ms-transition-delay: 700ms;
            -o-transition-delay: 700ms;
            transition-delay: 700ms;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
}

.hero-2 {
    background-color: #EFF5F6;
    padding: 150px 0 190px;
    position: relative;

    .star {
        position: absolute;
        top: 15%;
        left: 29%;
        animation: rounded 5s linear infinite;

         @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .star2 {
        position: absolute;
        top: 45%;
        left: 42px;
        animation: rounded 5s linear infinite;

         @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .star3 {
        position: absolute;
        right: 44px;
        top: 38%;
        animation: rounded 5s linear infinite;

         @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .vec-shape {
        position: absolute;
        left: 70px;
        bottom: 80px;

         @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .vec-shape2 {
        position: absolute;
        right: 16%;
        top: 15%;

         @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .vec-shape3 {
        position: absolute;
        bottom: 120px;
        left: 47%;

         @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .zirap-shape {
        position: absolute;
        bottom: 100px;
        right: 0;
        z-index: 1;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .line-shape {
        position: absolute;
        bottom: 0;
        right: -2%;

         @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .container {
        max-width: 1545px;
    }

    .hero-image-items {
        position: relative;
        z-index: 9;

        .shape1 {
            position: absolute;
            top: 35%;
            left: 10%;

            @include breakpoint (max-xl){
                display: none;
            }
        }

        .shape2 {
            position: absolute;
            bottom: 10%;
            left: 10%;

            @include breakpoint (max-xl){
                display: none;
            }
        }

        .shape3 {
            position: absolute;
            top: 22%;
            left: 34%;

            @include breakpoint (max-xl){
                display: none;
            }
        }

        .hero-line {
            position: absolute;
            top: 50%;
            left: 48%;
            transform: translate(-50%,-50%);
            z-index: -1;

            @include breakpoint (max-xxxl){
                display: none;
            }
        }

        .thumb {
            position: relative;
            max-width: 728px;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 738 512"><path fill-rule="evenodd" clip-rule="evenodd" d="M531.18 0.363281C456.2 -5.23801 407.491 55.4193 343.074 81.3193C311.295 94.0963 277.454 101.77 243.257 104.03C208.611 106.321 172.762 91.9081 137.262 93.7734C77.2798 96.9257 38.6293 159.006 18.8701 209.131C-17.8165 302.198 -7.28917 439.009 106.918 469.9C172.821 487.726 236.038 460.348 301.594 458.745C369.83 457.077 441.317 467.256 506.036 492.853C550.182 510.312 594.32 522.781 638.841 498.362C717.152 455.414 739.492 343.477 737.924 262.294C736.56 191.722 706.667 116.577 659.32 63.2402C627.059 26.8976 579.682 3.98729 531.18 0.363281Z" /></svg>');
            mask-repeat: no-repeat;
            mask-position: center center;
            mask-size: cover;

            @include breakpoint (max-lg){
                margin: 0 auto;
            }
           
    
            img {
                @include imgw;
            }
        }
    }

    .hero-content {
        margin-left: 50px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xxl){
            margin-left: 0;
        }

        @include breakpoint (max-lg){
            text-align: center;
        }

        .hero-sub {
            @include flex;
            gap: 10px;
            margin-bottom: 15px;

            @include breakpoint (max-lg){
                justify-content: center;
            }

            @include breakpoint (max-md){
                img {
                    width: 110px;
                }
            }

            span {
                text-transform: capitalize;
                font-size: 15px;
                font-weight: bold;
                font-family: $sub-font;
                color: $header-color;
                line-height: 1.4;

                @include breakpoint (max-lg){
                    text-align: left;
                }
            }
        }

        h1 {
            @include breakpoint (max-xxxl){
                font-size: 60px;
            }

            @include breakpoint (max-xxl){
                font-size: 54px;
            }

            @include breakpoint (max-xl){
                font-size: 48px;
            }

            @include breakpoint (max-lg){
                font-size: 55px;
            }

            @include breakpoint (max-md){
                font-size: 48px;
            }

            @include breakpoint (max-sm){
                font-size: 40px;
            }

            @include breakpoint (max-xxs){
                font-size: 32px;
            }
        }

        p {
            max-width: 592px;
            font-size: 18px;
            margin-top: 20px;

            @include breakpoint (max-lg){
                margin: 20px auto 0;
            }

            @include breakpoint (max-md){
                font-size: 16px;
            }
        }

        .hero-button {
            @include flex;
            gap: 20px;
            margin-top: 38px;

            @include breakpoint (max-lg){
                justify-content: center;
            }

            @include breakpoint (max-md){
                margin-top: 25px;
                flex-wrap: wrap;
            }
        }
    }
}