.hero-1 {
    background-color: $bg-color;
    padding: 100px 0 0;
    position: relative;
    overflow: hidden;

    .shape1 {
        position: absolute;
        top: 17%;
        left: 7%;

        @include breakpoint (max-xxl){
           top: 7%;
           left: 2%;
        }

         @include breakpoint (max-xl){
            opacity: .4;
            top: 3%;
        }

    }

    .shape3 {
        position: absolute;
        left: 30%;
        bottom: 13%;

        @include breakpoint (max-xl){
            left: 43%;
            bottom: 8%;
        }
    }

    .shape2 {
        position: absolute;
        top: 12%;
        left: 50%;

        @include breakpoint (max-xl){
            opacity: .4;
        }

        @include breakpoint (max-lg){
            position: absolute;
            top: 40%;
            left: 0%;
        }
    }

    .shape4 {
        position: absolute;
        bottom: 10%;
        left: 47%;

        @include breakpoint (max-xxxl){
            bottom: 10%;
            left: 42%;
        }

         @include breakpoint (max-xxl){
            left: 39%;
            max-width: 300px;

            img {
                width: 100%;
            }
        }

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .shape5 {
        position: absolute;
        right: 0;
        top: 15%;

        @include breakpoint (max-xxxl){
            max-width: 170px;

            img {
                @include imgw;
            }
        }

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .hero-slider {
        margin-right: -110px;

        @include breakpoint (max-xxxl){
            margin-right: 0;
        }
    }

    .hero-line {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        transform: rotate(180deg);
        z-index: 99;
        
        @include breakpoint (max-xxxl){
           bottom: -3px;
        }

        @include breakpoint (max-xl){
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .hero-content {
        max-width: 785px;
        margin-top: -150px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
            margin-top: -100px;
        }

        @include breakpoint (max-lg){
            margin-top: 0;
            text-align: center;
        }

        .hero-sub {
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            color: $theme-color;
            font-family: $sub-font;
            margin-bottom: 10px;

             @include breakpoint (max-sm){
                font-size: 16px;
            }

                // transition: all 900ms ease;
                // -moz-transition: all 900ms ease;
                // -webkit-transition: all 900ms ease;
                // -ms-transition: all 900ms ease;
                // -o-transition: all 900ms ease;
                // text-transform: uppercase;
                // transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
                // clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }

        .hero-title {
            // transition: all 900ms ease;
            // -moz-transition: all 900ms ease;
            // -webkit-transition: all 900ms ease;
            // -ms-transition: all 900ms ease;
            // -o-transition: all 900ms ease;
            // transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
            // clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

            @include breakpoint (max-xxs){
                font-size: 35px;
            }
        }

        p {
            max-width: 592px;
            margin-top: 30px;
            // transition: all 900ms ease;
            // -moz-transition: all 900ms ease;
            // -webkit-transition: all 900ms ease;
            // -ms-transition: all 900ms ease;
            // -o-transition: all 900ms ease;
            // transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
            // clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

            @include breakpoint (max-lg){
                margin: 30px auto 0;
            }

             @include breakpoint (max-md){
                margin-top: 25px;
            }

             @include breakpoint (max-xxs){
                margin-top: 20px;
            }
        }

        .hero-button {
            @include flex;
            gap: 20px;
            margin-top: 38px;
            // transition: all 900ms ease;
            // -moz-transition: all 900ms ease;
            // -webkit-transition: all 900ms ease;
            // -ms-transition: all 900ms ease;
            // -o-transition: all 900ms ease;
            // transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
            // clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 14px;
            }


            @include breakpoint (max-lg){
                justify-content: center;
            }

            @include breakpoint (max-md){
                margin-top: 30px;
            }

             @include breakpoint (max-xxs){
                margin-top: 20px;
            }
        }
    }

    .hero-image {
        // transition: all 900ms ease;
        // -moz-transition: all 900ms ease;
        // -webkit-transition: all 900ms ease;
        // -ms-transition: all 900ms ease;
        // -o-transition: all 900ms ease;
        // transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
        // clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

        @include breakpoint (max-xxxl){
            img {
                @include imgw;
            }
        }

         @include breakpoint (max-lg){
            text-align: center;
            max-width: 500px;
            margin: 30px auto 0;
        }
    }

    .swiper-slide-active {
        .hero-content {
            .hero-sub {
                -webkit-transition-delay: 500ms;
                -moz-transition-delay: 500ms;
                -ms-transition-delay: 500ms;
                -o-transition-delay: 500ms;
                transition-delay: 500ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            .hero-title {
                -webkit-transition-delay: 800ms;
                -moz-transition-delay: 800ms;
                -ms-transition-delay: 800ms;
                -o-transition-delay: 800ms;
                transition-delay: 800ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            p {
                 -webkit-transition-delay: 1100ms;
                -moz-transition-delay: 1100ms;
                -ms-transition-delay: 1100ms;
                -o-transition-delay: 1100ms;
                transition-delay: 1100ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            .hero-button {
                -webkit-transition-delay: 1400ms;
                -moz-transition-delay: 1400ms;
                -ms-transition-delay: 1400ms;
                -o-transition-delay: 1400ms;
                transition-delay: 1400ms;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
        }

        .hero-image {
               -webkit-transition-delay: 700ms;
            -moz-transition-delay: 700ms;
            -ms-transition-delay: 700ms;
            -o-transition-delay: 700ms;
            transition-delay: 700ms;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
}

