.program-section {
    background-color: #F3F4FE;
}

.marquee {
  position: relative;
  --duration: 50s;
  --gap: 0px;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 0;
  margin-top: -7px;
  margin-bottom: 80px;


  .marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
  }

  .text {
        font-size: 100px;
        font-weight: 700;
        line-height: 1.3;
        color: $header-color;
        font-family: $heading-font;
        @include flex;
        gap: 10px;
        @include transition;

         @include breakpoint (max-xl){
           letter-spacing: initial;
        }

        @include breakpoint (max-xl){
            font-size: 80px;
        }

        @include breakpoint (max-md){
            font-size: 60px;
        }

         @include breakpoint (max-sm){
            font-size: 50px;
        }

        span {
            margin-top: -10px;
            display: inline-block;
             @include transition;
        }
  }
}

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}