.program-section {
    background-color: #F3F4FE;
    position: relative;
    margin-top: 130px;
    margin-bottom: 180px;

    .top-line {
        position: absolute;
        top: -150px;
        left: 0;
        right: 0;

        img {
            width: 100%;
        }
    }

    .bottom-line {
        position: absolute;
        bottom: -185px;
        left: 0;
        right: 0;

        img {
            width: 100%;
        }
    }

    .cat-shape {
        position: absolute;
        top: 40%;
        left: 66px;
        animation: rounded 5s linear infinite;
    }

    .star-shape {
        position: absolute;
        right: 45px;
        bottom: 15%;
        animation: cir36 10s linear infinite;
    }
}

.marquee {
  position: relative;
  --duration: 50s;
  --gap: 0px;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 0;
  margin-bottom: 40px;

  .marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
  }

  .text {
        font-size: 100px;
        font-weight: 700;
        line-height: 1.3;
        color: $header-color;
        font-family: $heading-font;
        @include flex;
        gap: 10px;
        @include transition;

         @include breakpoint (max-xl){
           letter-spacing: initial;
        }

        @include breakpoint (max-xl){
            font-size: 80px;
        }

        @include breakpoint (max-md){
            font-size: 60px;
        }

         @include breakpoint (max-sm){
            font-size: 50px;
        }

        span {
            margin-top: -10px;
            display: inline-block;
             @include transition;
        }
  }
}

.marquee-section2 {
    position: relative;

    .bg-shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .marquee-group {
        .text2 {
            font-size: 18px;
            font-weight: 600;
            color: $text-color;
            @include flex;
            gap: 20px;
            position: relative;
            z-index: 99;

            img {
                    animation: cir36 10s linear infinite;
            }
        }
    }
}

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.schedule-box-items {
    margin-top: 30px;
    padding: 40px;
    text-align: center;
    position: relative;
    z-index: 9;
    @include transition;

    .bg-shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 330 299"><path fill-rule="evenodd" clip-rule="evenodd"  d="M0 40.0055C0 16.0055 20.9876 -2.59179 44.8133 0.296168L160.187 14.2808C163.384 14.6684 166.616 14.6684 169.813 14.2808L285.187 0.296172C309.012 -2.59179 330 16.0055 330 40.0055V243.42C330 263.65 314.896 280.695 294.813 283.129L169.813 298.281C166.616 298.668 163.384 298.668 160.187 298.281L35.1868 283.129C15.104 280.695 0 263.65 0 243.42V40.0055Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
        background-color: rgba(254, 244, 222, 0.3);
        z-index: -1;

        &.bg-2 {
            background-color: rgba(230, 232, 252, 0.3);
        }

         &.bg-3 {
            background-color: rgba(254, 223, 239, 0.3);
        }

         &.bg-4 {
            background-color: rgba(225, 246, 254, 0.3);
        }
    }

    .content {
        margin-top: 20px;

        h3 {
            font-size: 30px;
            margin-bottom: 10px;
        }

        p {
            font-weight: 400;
            max-width: 225px;
            margin: 0 auto;
        }
    }

    &:hover {
         transform: translateY(-10px);

         .icon {
            img {
              animation: wobble 1.5s ease-in-out;
            }
         }
    }
}

.program-wrapper {
    padding: 50px 53px;
    position: relative;
    z-index: 9;

    .swiper-dot {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(90deg);
    }

    .border-shape {
        position: absolute;
        top: 10px;
        left: 5px;
        bottom: 0;
        z-index: -1;
        right: -18px;

        img {
            width: 100%;
        }
    }

     .program-wrap-items {
        max-width: 1135px;
    }

    .program-bg {
        position: absolute;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1403 614"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.0662042 129.208C-1.91671 74.2621 40.8309 28.0216 95.7635 25.6916L701.482 0L1307.2 25.6916C1362.13 28.0216 1404.88 74.2621 1402.9 129.208L1396.48 307L1402.9 484.792C1404.88 539.738 1362.13 585.978 1307.2 588.308L701.482 614L95.7633 588.308C40.8308 585.978 -1.91672 539.738 0.066203 484.792L6.48242 307L0.0662042 129.208Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        background: #FFFBFB;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .program-main-box-items {
        position: relative;

        .arrow-btn {
            text-align: center;

             .icon {
                 position: relative;

                svg {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);

                    path {
                        @include transition;

                        fill: $text-color;
                    }
                }

                .bg {
                    display: inline-block;
                    width: 55px;
                    height: 41px;
                    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 41"><path fill-rule="evenodd" clip-rule="evenodd" d="M-1.31134e-06 26C-2.56668e-06 11.6406 11.6406 3.7906e-06 26 2.53526e-06C40.3594 1.27992e-06 55 11.6406 55 26C55 40.3594 40.3594 41 26 41C11.6406 41 -5.60027e-08 40.3594 -1.31134e-06 26Z" /></svg>');
                    mask-repeat: no-repeat;
                    mask-position: center center;
                    mask-size: cover;
                    background: #E6E8FC;
                    @include transition;

                    &.bg-2 {
                        background-color: #FEF4DE;
                    }

                    &.bg-3 {
                        background-color: #C9DDE2;
                    }
                }

                &:hover {
                    .bg {
                        background-color: $theme-color;
                    }

                    svg path {
                        fill: $white;
                    }
                }
            }
        }
       
    }
}

.program-main-box-items {
    .program-box-items {
        padding: 20px 22px;
        position: relative;
        padding-bottom: 24px;

        .item-bg {
            position: absolute;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 456"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.0247019 112.899C-1.09488 62.1531 35.9801 18.618 86.2563 11.6418L163.317 0.949098C172.436 -0.316243 181.686 -0.316246 190.805 0.949095L267.865 11.6418C318.141 18.618 355.216 62.1531 354.097 112.899L350.983 254.042L353.164 352.91C354.621 418.954 292.777 468.238 228.725 452.077L201.524 445.214C185.467 441.163 168.655 441.163 152.597 445.214L125.397 452.077C61.3442 468.238 -0.49969 418.954 0.957419 352.91L3.13871 254.042L0.0247019 112.899Z" /></svg>');
            mask-repeat: no-repeat;
            mask-position: center center;
            mask-size: cover;
            background: #E6E8FC;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            margin: 0 auto;
            max-width: 360px;

            &.bg-2 {
                background-color: #FEF4DE;
            }

            &.bg-3 {
                background-color: #C9DDE2;
            }
        }

        .thumb {
            position: relative;
            max-width: 283px;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 282 206"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.0349089 54.1124C-0.674191 39.3365 9.49334 26.2492 23.986 23.2834L134.788 0.6092C138.757 -0.202906 142.849 -0.202906 146.817 0.6092L257.62 23.2834C272.112 26.2492 282.28 39.3365 281.571 54.1124L278.774 112.378L281.387 166.823C282.173 183.188 269.683 197.157 253.332 198.2L140.803 205.378L28.274 198.2C11.9229 197.157 -0.567072 183.188 0.218309 166.823L2.8311 112.378L0.0349089 54.1124Z"/></svg>');
            mask-repeat: no-repeat;
            mask-position: center center;
            mask-size: cover;
            margin: 0 auto;
            overflow: hidden;

            img {
                @include imgw;
                display: block;
                object-fit: cover;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;

                &:first-child{
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    -webkit-transform: translateX(50%) scaleX(2);
                    transform: translate(50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px)
                }
            }
        }

        .content {
            text-align: center;
            margin-top: -20px;
            position: relative;
            z-index: 99;

            .post-box {
                display: inline-block;
                background-color: $theme-color;
                font-size: 18px;
                font-weight: 600;
                color: $white;
                line-height: 1;
                border-radius: 10px;
                padding: 8px 12px;
                margin-bottom: 18px;
            }

            h2 {
                font-size: 22px;
                margin-bottom: 10px;

                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                max-width: 285px;
                margin: 0 auto;
            }

            .duration-text {
                display: inline-block;
                font-size: 16px;
                color: $header-color;
                background: rgba(3, 166, 166, 0.1);
                border-radius: 10px;
                font-weight: 600;
                text-transform: capitalize;
                padding: 8px 10px;
                line-height: 1;
                margin-top: 15px;

                &.color-2 {
                    background: rgba(255, 115, 187, 0.1);
                }

                &.color-3 {
                    background: rgba(254, 244, 222, 0.2);
                }
            }
        }
    }

    &:hover {
        .program-box-items {
            .thumb {
                img {
                    &:first-child {
                        -webkit-transform: translateX(0) scaleX(1);
                        transform: translate(0) scaleX(1);
                        opacity: 1;
                        -webkit-filter: blur(0);
                        filter: blur(0)
                    }

                    &:nth-child(2){
                        -webkit-transform: translateX(-50%) scaleX(2);
                        transform: translateX(-50%) scaleX(2);
                        opacity: 0;
                        -webkit-filter: blur(10px);
                        filter: blur(10px);
                    }
                } 
            }
        }
    }
}

.activities-section {
    margin: 0 60px;
    position: relative;
    z-index: 9;

    .activities-shape {
        position: absolute;
        bottom: 55px;
        left: 0;
        right: 0;

        img {
            width: 100%;
        }
    }

    .bg-image {
        position: absolute;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1800 1144'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100.006C0 41.7213 49.6451 -4.21244 107.754 0.307164L900 61.9263L1698.89 53.0497C1754.55 52.4313 1800 97.3807 1800 153.044V720.926V1043.04C1800 1100.88 1751.07 1146.66 1693.35 1142.82L900 1089.93H100C44.7715 1089.93 0 1045.15 0 989.926V100.006Z'/%3E%3C/svg%3E") no-repeat center / contain;
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        background: #E1F6FE;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.activities-wrapper-items {
    position: relative;
    z-index: 9;
    padding: 21px 60px;
    @include flex;
    justify-content: space-between;
    margin-top: 30px;
    overflow: hidden;

    .bg-shape {
        position: absolute;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1410 243"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 77.9176C0 51.1301 21.111 29.1017 47.8743 27.9628L705 0L1362.13 27.9628C1388.89 29.1017 1410 51.1301 1410 77.9176V165.082C1410 191.87 1388.89 213.898 1362.13 215.037L705 243L47.8742 215.037C21.111 213.898 0 191.87 0 165.082V77.9176Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        background: #FFFBFB;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        @include transition;
    }

    .content {
        span {
            display: inline-block;
            font-size: 50px;
            font-weight: 700;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: rgba(243, 159, 95, 0.6);
            font-family: $heading-font;
            color: transparent;
            line-height: 1;
            margin-bottom: 18px;
        }
        h3 {
            font-size: 30px;
            line-height: 1;
            text-transform: capitalize;

            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;

                &:hover {
                    color: $white;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $white 0%, $white 100%);
                }
            }
        }
    }

    .thumb {
        max-width: 443px;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 443 194"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 68.5441C0 43.0103 19.2391 21.5788 44.6249 18.8339L216.125 0.289705C219.698 -0.0966413 223.302 -0.0966417 226.875 0.289704L398.375 18.8339C423.761 21.5788 443 43.0103 443 68.5441V124.873C443 150.407 423.761 171.838 398.375 174.583L226.875 193.127C223.302 193.514 219.698 193.514 216.125 193.127L44.6249 174.583C19.2391 171.838 0 150.407 0 124.873V68.5441Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        img {
            @include imgw;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    .thumb-items {
        position: relative;

        .icon {
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;

            svg {
                position: absolute;
                top: 42%;
                left: 50%;
                transform: translate(-50%,-50%);

                path {
                     @include transition;
                }
            }

            .bg {
                display: inline-block;
                width: 55px;
                height: 41px;
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 41"><path fill-rule="evenodd" clip-rule="evenodd" d="M-1.31134e-06 26C-2.56668e-06 11.6406 11.6406 3.7906e-06 26 2.53526e-06C40.3594 1.27992e-06 55 11.6406 55 26C55 40.3594 40.3594 41 26 41C11.6406 41 -5.60027e-08 40.3594 -1.31134e-06 26Z" /></svg>');
                mask-repeat: no-repeat;
                mask-position: center center;
                mask-size: cover;
                background: $theme-color;
                @include transition;
            }
        }
    }

    .text {
        font-size: 18px;
        font-weight: 400;
        max-width: 365px;
    }

    .right-items {
        @include flex;
        gap: 60px;
    }

    &.active {
        .bg-shape {
            background-color: $theme-color;
        }

        .content {
            h3 {
                a {
                    color: $white;
                }
            }
        }

        span {
             -webkit-text-stroke-color: rgba(255, 255, 255, 1);
        }

        .text {
            color: $white;
        }

        .thumb-items {
            .icon {
                svg path {
                    fill: $theme-color;
                }

                .bg {
                    background-color: $white;
                }
            }
        }
    }

    &:hover {
        .right-items {
            .thumb {
                      img {
                    &:first-child {
                        -webkit-transform: translateX(0) scaleX(1);
                        transform: translate(0) scaleX(1);
                        opacity: 1;
                        -webkit-filter: blur(0);
                        filter: blur(0)
                    }

                    &:nth-child(2){
                        -webkit-transform: translateX(-50%) scaleX(2);
                        transform: translateX(-50%) scaleX(2);
                        opacity: 0;
                        -webkit-filter: blur(10px);
                        filter: blur(10px);
                    }
                } 
                }
        }
    }
}

.program-section-2 {
    background-color: #E1F6FE;
    position: relative;
    margin-top: 72px;

    .top-line-1 {
        position: absolute;
        left: 0;
        right: 0;
        top: -72px;

        img {
            width: 100%;
        }
    }

    .bottom-line-1 {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -72px;

        img {
            width: 100%;
        }
    }

    .star-shape {
        position: absolute;
        left: 3%;
        top: 20%;
    }

    .star-shape2 {
        position: absolute;
        right: 40px;
        bottom: 25%;
    }

    .cat-shape {
        position: absolute;
        left: 70px;
        bottom: 15%;
    }
}

.program-box-items-2 {
    margin-top: 30px;
    @include transition;

    .thumb {
        text-align: center;
        @include transition;
        transition: all 900ms ease;

        &.style-left {
            margin-left: 18px;
        }
    }

    .content {
        background-color: $white;
        border-radius: 30px;
        padding: 35px 30px;
        text-align: center;
        position: relative;
        z-index: 2;
        margin-top: -115px;

        &.style-2 {
            margin-top: -70px;
        }

        &.style-3 {
            margin-top: -40px;

            .hand-image {
                max-width: 180px;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
        }

        &.style-4 {
            margin-top: -80px;
        }

        .hand-image {
            position: absolute;
            top: -15px;
            left: 0;
            right: 0;
            text-align: center;
        }

        &::before {
            position: absolute;
            top: 15px;
            left: 15px;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            content: "";
            border: 1.13px dashed rgba(92, 112, 126, 1);
            border-radius: 30px;
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            z-index: -1;
        }

        .year-text {
            font-size: 18px;
            font-weight: 600;
            color: $theme-color;
            display: inline-block;
            background: rgba(243, 159, 95, 0.2);
            border-radius: 10px;
            text-align: center;
            padding: 8px 12px;
            line-height: 1;
            margin-bottom: 20px;
        }

        .title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 14px;
            
            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;

                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
        }

        p {
            font-size: 16px;
        }

        .duration-text {
            font-size: 16px;
            font-weight: 600;
            color: $header-color;
            display: inline-block;
            background: rgba(3, 166, 166, 0.1);
            border-radius: 10px;
            text-align: center;
            text-transform: capitalize;
            padding: 8px 12px;
            line-height: 1;
            margin-top: 20px;
        }

        .arrow-btn {
            margin-top: 20px;

            .icon {
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);

                    path {
                        @include transition;

                        fill: $theme-color;
                    }
                }

                .bg {
                    display: inline-block;
                    width: 55px;
                    height: 41px;
                    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 41"><path fill-rule="evenodd" clip-rule="evenodd" d="M-1.31134e-06 26C-2.56668e-06 11.6406 11.6406 3.7906e-06 26 2.53526e-06C40.3594 1.27992e-06 55 11.6406 55 26C55 40.3594 40.3594 41 26 41C11.6406 41 -5.60027e-08 40.3594 -1.31134e-06 26Z" /></svg>');
                    mask-repeat: no-repeat;
                    mask-position: center center;
                    mask-size: cover;
                    background: $header-color;
                    @include transition;
                }

                &:hover {
                    .bg {
                        background-color: $theme-color;
                    }

                    svg path {
                        fill: $white;
                    }
                }
            }
        }
    }

    &:hover {
        transform: translateY(-15px);
        .thumb {
            transform: rotateY(360deg);
        }
    }
}

.program-bottom-area {
    border-top: 1px solid rgba(56, 84, 105, 0.2);
    padding-top: 40px;
    margin-top: 40px;

    .title {
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
    }

    .program-button {
        @include flex;
        gap: 30px;
        margin-top: 35px;
        justify-content: center;

        .author-icon {
            @include flex;
            gap: 15px;

            .icon {
                width: 56px;
                line-height: 59px;
                height: 59px;
                text-align: center;
                background-color: $header-color;
                text-align: center;
                color: $white;
                border-radius: 15px;
                position: relative;
            }

            .content {
                h4 {
                    font-weight: 700;
                    font-size: 24px;

                    a {
                        color: $text-color;

                        &:hover {
                            color: $theme-color;
                        }
                    }
                }

                span {
                    font-size: 16px;
                    font-weight: 600;
                    color: $header-color;
                    font-family: $body-font;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.choose-us-wrapper-2 {
   
    .choose-us-thumb {
        position: relative;
        z-index: 9;

        .shape1 {
            position: absolute;
            top: 6%;
            left: 16%;
            z-index: 11;
        }

        &::before {
            @include before;
            background-color: $theme-color;
            z-index: -1;
            max-width: 623px;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 624 585"><path fill-rule="evenodd" clip-rule="evenodd" d="M456.618 101.994C486.213 5.80322 299.386 -66.341 295.685 96.4463C186.545 13.2033 66.311 105.693 162.499 224.082C-24.33 198.184 -37.2802 401.666 58.909 471.957C20.0638 518.199 86.6554 564.444 123.654 514.501C232.792 625.49 523.21 599.592 525.061 475.655C621.252 523.755 650.851 383.166 562.055 325.821C685.994 285.124 591.651 177.84 547.261 175.986C630.499 116.793 491.765 52.0478 456.618 101.994Z" /></svg>');
            mask-repeat: no-repeat;
            mask-position: center center;
            mask-size: cover;
            z-index: 9;
            left: 30px;
        }

        .thumb {
            max-width: 623px;
            position: relative;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 624 585"><path fill-rule="evenodd" clip-rule="evenodd" d="M456.618 101.994C486.213 5.80322 299.386 -66.341 295.685 96.4463C186.545 13.2033 66.311 105.693 162.499 224.082C-24.33 198.184 -37.2802 401.666 58.909 471.957C20.0638 518.199 86.6554 564.444 123.654 514.501C232.792 625.49 523.21 599.592 525.061 475.655C621.252 523.755 650.851 383.166 562.055 325.821C685.994 285.124 591.651 177.84 547.261 175.986C630.499 116.793 491.765 52.0478 456.618 101.994Z" /></svg>');
            mask-repeat: no-repeat;
            mask-position: center center;
            mask-size: cover;
            z-index: 9;

            img {
                @include imgw;
            }
        }
    }


    .choose-us-content {
        .choose-text {
            margin-top: 30px;
        }

        ul {
            margin-top: 50px;
            @include flex;
            justify-content: space-between;
            gap: 20px;

            li {    
                display: flex;
                align-items: center;
                gap: 20px;
                background-color: $white;
                padding: 20px;
                border-radius: 35px;

                .icon {
                    width: 56px;
                    height: 56px;
                    line-height: 56px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #E1F6FE;
                }
                .title {
                    .icon-title {
                        font-size: 18px;
                        text-transform: capitalize;
                    }
                }
            }
        }

        .skill-feature {
            max-width: 690px;
            margin-top: 30px;
            margin-bottom: 50px;

            &:not(:last-child){
                margin-bottom: 30px;
            }

            .box-title {
                font-size: 18px;
                font-weight: 700;
                font-family: $heading-font;
                color: $header-color;
                text-transform: capitalize;
            }

            .progress-value {
                margin-bottom: 10px;
                //margin-top: -0.5em;
                color: $header-color;
                text-transform: capitalize;
            }
            .progress {
                position: relative;
                height: 8px;
                background-color: #FEF4DE;
                border-radius: 0;
                overflow: visible;
                margin-top: 15px;
                border-radius: 4px;
            }
        
            .progress-bar {
                background-color: $theme-color;
                height: 8px;
                margin: 0;
                border-radius: inherit;
                overflow: visible;
                position: relative;
                margin-top: 0;
                border-radius: 4px;
            }
            .progress-value {
                position: absolute;
                top: -38px;
                right: -8px;
                font-size: 16px;
                font-weight: 700;
                color: $header-color;
                font-family: $heading-font;
                font-size: 18px;
            }
        }
    }
}

.footer-kids-section {
    margin: 0 60px;
    background-size: auto !important;
    position: relative;

    .eating-yummy {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .section-title-area {
        justify-content: start;
        gap: 300px;

        .client-sub {
            @include flex;
            gap: 10px;
            margin-bottom: 15px;

            span {
                text-transform: capitalize;
                font-size: 15px;
                font-weight: bold;
                font-family: $sub-font;
                color: $header-color;
                line-height: 1.4;
            }
        }
    }

    .food-shape1 {
        position: absolute;
        left: 10px;
        bottom: 40px;
    }

    .food-shape2 {
        position: absolute;
        right: 200px;
        top: 53px;
    }
}

.footer-kids-box-items {
    margin-top: 30px;
    position: relative;

    .bg-thumb {
        position: relative;

        img {
            @include imgw;
        }

        .food-img {
            position: absolute;
            bottom: 20px;
            right: 80px;

            img {
                width: initial;
                height: initial;
            }
        }
    }

    .content {
        position: absolute;
        top: 50%;
        left:0;
        transform: translateY(-50%);
        right: 0;
        padding-left: 65px;

        .icon {
            margin-bottom: 5px;
            margin-left: 35px;
        }

        .title {
            font-size: 24px;
            font-weight: 700;
        }

        ul {
            margin-top: 5px;

            li {
                @include flex;
                gap: 10px;
                text-transform: capitalize;
                font-size: 16px;

                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
        }
    }
}