
//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;


	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	.sec-sub {
		position: relative;
		font-size: 18px;
		font-weight: 700;
		color: $theme-color;
		line-height: 1;
		margin-bottom: 10px;
		font-family: $sub-font;
		display: inline-block;
	}

	h2 {
		color: $header-color;
	}
}

.section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;

	&.bb-bottom {
		border-bottom: 1px solid rgba(56, 84, 105, 0.2);
		padding-bottom: 40px;
	}

	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	.section-title {
		margin-bottom: 0;
	}

	 .nav {
		padding: 0;
		@include flex;
		gap: 15px;
		margin-top: 40px;

		.nav-item {
			.nav-link {
				padding: 0;
				font-size: 16px;
				font-weight: 600;
				color: $header-color;
				background: rgba(92, 112, 126, 0.1);
				border-radius: 12px;
				padding: 10px 14px;
				line-height: 1;

				&.active {
					background-color: $theme-color;
					color: $white;
				}
			}
		}
	}

	
	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}

	// @include breakpoint (max-md) {
		
	// }
}

.section-title-2 {
	margin-bottom: 40px;

	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	h6 {
		border-radius: 6px;
		background: rgba(191, 247, 71, 0.10);
		display: inline-block;
		padding: 8px 15px;
		line-height: 1;
		color: $theme-color;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		font-family: $body-font;
		margin-bottom: 24px;

		img {
			margin-right: 7px;
		}
	}

	h2 {
		font-size: 50px;
		font-weight: 700;
		line-height: 128%;
		text-transform: uppercase;

		@include breakpoint(max-xxl){
			font-size: 44px;
		}

		@include breakpoint(max-xl){
			font-size: 40px;
		}

		@include breakpoint(max-lg){
			font-size: 36px;
		}

		@include breakpoint(max-md){
			font-size: 42px;
		}

		@include breakpoint(max-sm){
			font-size: 34px;
		}

		span {
			color: $theme-color;
		}
	}

}


//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color;
}

.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}

.section-padding-2 {
	padding: 60px 0;
}
//>>>>> Basic Css End <<<<<//

.body-bg-2 {
	background-color: #FFFBFB !important;
}