
//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;


	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	.sub-title {
		position: relative;
		font-size: 14px;
		font-weight: 600;
		color: $theme-color;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 20px;

		img {
			line-height: 1;
			margin-right: 5px;
			margin-top: -3px;
		}
	}

	h2 {
		color: $header-color;
	}

	&.style-2 {
		.sub-title {
			color: $theme-color-2;
		}

		h2 {
			color: $header-color-2;

			span {
				color: $theme-color-2;
				text-decoration: underline;
				border-bottom: 4px solid $theme-color-2;
			}
		}
	}

	&.style-3 {
		.sub-title {
			display: inline-block;
			font-size: 14px;
			font-weight: 600;
			font-family: $heading-font;
			border-radius: 50px;
			color: $theme-color-3;
			text-transform: uppercase;
			background-color: $bg-color-4;
			height: 30px;
			line-height: 30px;
			padding: 0 16px;
		}

		h2 {
			font-weight: 600;
			color: $header-color-3;
		}
	}

	&.style-4 {
		.sub-title {
			color: $theme-color-4;
			font-family: $heading-font;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
		}

		h2 {
			font-weight: 600;
			color: $header-color-4;
		}
	}

	&.style-5 {
		.sub-title {
			color: $header-color-4;
			background-color: $theme-color-6;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: -0.42px;
			text-transform: uppercase;
			display: inline-block;
			height: 26px;
			line-height: 26px;
			padding: 0 12px;
			border-radius: 18px;
		}

		h2 {
			color: $header-color-4;
			font-weight: 600;
		}
	}
}

.section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;

	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	.section-title {
		margin-bottom: 0;
	}

	
	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}

	// @include breakpoint (max-md) {
		
	// }
}

.section-title-2 {
	margin-bottom: 40px;

	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	h6 {
		border-radius: 6px;
		background: rgba(191, 247, 71, 0.10);
		display: inline-block;
		padding: 8px 15px;
		line-height: 1;
		color: $theme-color;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		font-family: $body-font;
		margin-bottom: 24px;

		img {
			margin-right: 7px;
		}
	}

	h2 {
		font-size: 50px;
		font-weight: 700;
		line-height: 128%;
		text-transform: uppercase;

		@include breakpoint(max-xxl){
			font-size: 44px;
		}

		@include breakpoint(max-xl){
			font-size: 40px;
		}

		@include breakpoint(max-lg){
			font-size: 36px;
		}

		@include breakpoint(max-md){
			font-size: 42px;
		}

		@include breakpoint(max-sm){
			font-size: 34px;
		}

		span {
			color: $theme-color;
		}
	}

	.prtoject-title {
		font-size: 200px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;

		@include breakpoint (max-xl){
			font-size: 150px;
		}

		@include breakpoint (max-sm){
			font-size: 140px;
		}

		@include breakpoint (max-xxs){
			font-size: 100px;
		}
	}
}


//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color;
}

.section-bg-2 {
	background-color: $bg-color-2;
}

.section-bg-3 {
	background-color: $bg-color-3;
}

.section-bg-4 {
	background-color: $bg-color-4;
}

.section-bg-5 {
	background-color: $bg-color-6;
}

.section-bg-6 {
	background-color: $bg-color-5;
}

.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}

.section-padding-2 {
	padding: 60px 0;
}
//>>>>> Basic Css End <<<<<//

