.team-single-items {
    position: relative;
    z-index: 9;
    margin-top: 30px;
    text-align: center;

    @include breakpoint (max-lg){
        max-width: 450px;
    }

    img {
        @include imgw;
    }

    .bg-shape {
        position: relative;

        .items {
           position: absolute;
           top: 50%;
           transform: translateY(-50%);
           left: 0;
           right: 0;
           text-align: center;
           padding: 30px;
        }
    }

    .thumb {
        max-width: 362px;
        margin: 0 auto;
        position: relative;
        z-index: 9;
        overflow: hidden;

        .social-icon {
            justify-content: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -100px;
            @include transition;
            opacity: 0;
            visibility: hidden;
            gap: 10px;

            a {
                width: 44px;
                height: 44px;
                display: inline-block;
                line-height: 44px;
                text-align: center;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                color: $white;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }

        img {
            @include imgw;
        }
    }

    .content {
        text-align: center;
        margin-top: 15px;

        h3 {
            @include breakpoint (max-xxl){
                font-size: 20px;
            }

            @include breakpoint (max-lg){
                font-size: 19px;
            }

            @include breakpoint (max-sm){
                font-size: 18px;
            }
              a {
                  background-position: 0 95%;
                  background-repeat: no-repeat;
                  background-size: 0% 2px;
                  display: inline;

                  &:hover {
                      color: $theme-color;
                      background-size: 100% 2px;
                      background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                  }
              }
        }
    }

    &:hover {
        .thumb {
            .social-icon {
                opacity: 1;
                visibility: visible;
                bottom: 20px;
            }
        }
    }
}

.team-slider {
    margin-right: -35%;

    @include breakpoint (max-xl4){
        margin-right: -25%;
    }

     @include breakpoint (max-xxxl){
        margin-right: -15%;
    }

    @include breakpoint (max-xxl){
        margin-right: -30%;
    }

    @include breakpoint (max-lg){
        margin-right: 0;
    }
}

.team-section {
    position: relative;

    .pencil-shape {
        position: absolute;
        left: 0;
        bottom: 180px;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .vec-shape {
        position: absolute;
        right: 200px;
        top: 110px;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .vec-shape2 {
        position: absolute;
        right: 90px;
        bottom: 0;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }
}

.team-wrapper-2 {
    @include flex;
    justify-content: space-between;
    gap: 30px;

    @include breakpoint (max-xxl){
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }

    @include breakpoint (max-lg){
        grid-template-columns: repeat(1, 1fr);
        display: grid;
    }

    @include breakpoint (max-md){
        margin-top: 30px;
    }

    .team-main-items {
        margin-top: 30px;
        height: 512px;
        width: 246px;
        position: relative;
        transition: width 0.5s ease;

        @include breakpoint (max-xxl){
            width: initial !important;
            margin-top: 0;
        }

        &.bg-2 {
            .team-items {
                background-color: #532822;
            }

            .team-hover-items {
                background-color: #532822;

                 .team-image {
                    margin-top: -160px;
                }
            }
        }

        &.bg-3 {
            .team-items {
                background-color: #43A574;
            }

            .team-hover-items {
                background-color: #43A574;

                .content {
                    position: relative;
                }

                 .team-image {
                    margin-top: -160px;
                }
            }
        }

        &.bg-4 {
            .team-items {
                background-color: #FFD25A;

                .content {
                    .title {
                        a {
                            color: $header-color
                        }
                    }
                }
            }

            .team-hover-items {
                background-color: #FFD25A;

                .content {
                    .title {
                        a {
                            color: $header-color
                        }
                    }
                }

                .team-image {
                    margin-top: -210px;
                }
            }
        }

        .team-items {
            background-color: #FF854B;
            border-radius: 48px;
            overflow: hidden;
            transition: opacity 0.35s ease, transform 0.35s ease;
            height: 512px;

             @include breakpoint (max-xxl){
                opacity: 0;
                transform: scale(0.95);
                pointer-events: none;
            }

            .star {
                position: absolute;
                top: 73px;
                left: 8px;
            }

            .star2 {
                position: absolute;
                top: 150px;
                right: 16px;
            }

            .content {
                padding: 45px 30px;
                position: relative;
                z-index: 1;

                .title {
                    font-size: 30px;
                    font-weight: 700;
                    text-align: center;

                    a {
                        color: $white;
                    }
                }
            }

            .team-image {
                text-align: center;
                position: relative;
                z-index: 1;
            }

            .shape-3 {
                position: absolute;
                top: 25px;
                right: 10px;
            }

            .shape-4 {
                position: absolute;
                left: 15px;
                top: 58%;
            }

            .shape-5 {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                top: 47%;
                transform: translateY(-50%);
            }
        }

        .team-hover-items {
            width: 530px;
            height: 512px;
            background-color: #FF854B;
            border-radius: 48px;
            overflow: hidden;
            position: absolute;
            inset: 0;
            opacity: 0;
            visibility: hidden;
            transform: scale(0.96);
            transition: all 0.45s ease;

            @include breakpoint (max-xxl){
                width: 100% !important;
                opacity: 1 !important;
                visibility: visible !important;
                transform: scale(1) !important;
            }

            .team-shape {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
            }

            .content {
                padding: 40px;

                @include breakpoint (max-sm){
                    padding: 28px;
                }

                .title {
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 1;

                    @include breakpoint (max-xxl){
                        font-size: 35px;
                    }

                    @include breakpoint (max-sm){
                        font-size: 28px;
                    }

                    a {
                        color: $white;
                    }
                }

                span {
                    display: inline-block;
                    font-size: 20px;
                    font-weight: 600;
                    background: $white;
                    color: #FF854B;
                    border-radius: 32px;
                    padding: 8px 18px;
                    margin-top: 18px;
                }
            }

            .team-image {
                text-align: right;
                margin-top: -100px;
            }
        }

        &.active {
            width: 530px;
            height: 512px;

            .team-items {
                opacity: 0;
                transform: scale(0.95);
                pointer-events: none;
            }

            .team-hover-items {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }
        }
    }
}


.team-section-2 {
    position: relative;

    .pencil {
        position: absolute;
        bottom: 40%;
        left: 0;
    }

    .link-btn {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 700;
        font-family: $heading-font;
        color: $theme-color;
        @include transition;

        svg {
            margin-left: 5px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}