.tetsimonial-box-items {
    position: relative;
    margin-top: 30px;
    text-align: center;
    position: relative;

    .bg-shape {
        svg {
           @include imgw;
        }
    }

    .content {
        margin: 0 auto;
        position: absolute;
        top: 21px;
        left: 0;
        text-align: center;
        right: 0;
        padding: 0 50px;

        h3 {
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        p {
            font-size: 18px;
            line-height: 144%;
        }
    }
}

