.tetsimonial-box-items {
    position: relative;
    margin-top: 30px;
    text-align: center;
    position: relative;

    @include breakpoint (max-xl){
        background-color: #FEF4DE;
        border-radius: 16px;
    }

    .bg-shape {
       @include breakpoint (max-xl){
            display: none;
        }

        svg {
           @include imgw;
        }
    }

    .content {
        margin: 0 auto;
        position: absolute;
        top: 21px;
        left: 0;
        text-align: center;
        right: 0;
        padding: 0 50px;

        @include breakpoint (max-xl){
           position: static;
           padding: 20px;
        }

        h3 {
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        p {
            font-size: 18px;
            line-height: 144%;

            @include breakpoint (max-xl4){
                font-size: 15px;
            }
        }
    }
}

.testimonial-box-items-2 {
    margin-top: 50px;
    position: relative;

    @include breakpoint (max-xl){
        background-color: $bg-color;
        padding: 30px;
        border-radius: 16px;
    }

    .bg-thumb {
        @include breakpoint (max-xl){
            display: none;
        }
    }

    .content {
        text-align: center;
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;

         @include breakpoint (max-xl){
            position: static;
        }

        .client-image {
            margin-bottom: 10px;
            transition: all 900ms ease;
        }

        .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            max-width: 230px;
            text-transform: capitalize;
            font-style: italic;
            margin: 0 auto;
            color: $header-color;
        }
    }

    &:hover {
        .content {
            .client-image {
                transform: rotateY(360deg);
            }
        }
    }
}

.testimonial-section-2 {
    position: relative;
    margin-top: -30px;

    @include breakpoint (max-xl4){
        margin-top: -60px;
    }

     @include breakpoint (max-xxxl){
        margin-top: -40px;
    }

     @include breakpoint (max-xxl){
        margin-top: 0px;
    }

    @include breakpoint (max-xl){
        margin-top: 0;
    }

    .girl-shape {
        position: absolute;
        top: 25%;
        left: 60px;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .zirap-shape {
        position: absolute;
        bottom: 0;
        right: 0;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }
}

.testimonial-wrapper-3 {
    position: relative;
     padding: 60px 60px;
     margin-bottom: 50px;

     @include breakpoint (max-xl){
        padding: 0;
        margin-bottom: 0;
     }

    .array-button {
    @include flex;
    gap: 10px;

    .array-prev,.array-next {
        display: inline-block;
        width: 50px;
        height: 42px;
        line-height: 40px;
        border-radius: 50%;
        background-color: $header-color;
    }
    }

    .testimonial-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .testimonial-slider-3 {
        margin-right: -68%;

        @include breakpoint (max-xxxl){
            margin-right: -45%;
        }

         @include breakpoint (max-xl){
            margin-right: 0;
        }
    }
}

.testimonial-box-items-3 {
    position: relative;
    z-index: 9;
    border-radius: 20px;
    margin-top: 30px;

    &::before {
        @include before;
        background-color: $white;
        border-radius: 20px;
        z-index: -1;
        top: 15px;
        height: initial;
    }

    .quote-icon {
        margin-bottom: 25px;
        padding: 0 30px;
    }

    .text {
        text-transform: capitalize;
        color: #5C707E;
        font-style: italic;
        font-weight: 600;
        line-height: 180%;
        padding: 0 30px;

        @include breakpoint (max-xl){
            line-height: 150%;
            font-size: 15px;
        }
    }

    .testimonial-bottom {
        padding: 15px 30px;
        background-color: #FEF4DE;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: 35px;
        @include flex;
        justify-content: space-between;

        .client-info {
            display: flex;
            align-items: center;
            gap: 12px;

            .client-img {
                img {
                    border-radius: 50%;
                    border: 3px solid $white;
                }
            }

            .info-content {
                p {
                    b {
                        font-weight: 600;
                        color: $header-color;
                        display: block;
                    }
                }
            }
        }

        .video-btn {
            display: inline-block;
            width: 58px;
            height: 58px;
            line-height: 58px;
            border-radius: 50%;
            text-align: center;
            background: rgba(243, 159, 95, 0.2);
            color: $theme-color;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }
    }
}

.testimonial-section-3 {
    @include breakpoint (max-xl){
       background-color: #FEDFEF;
       padding: 100px 0;
       margin-bottom: 100px;
    }

    @include breakpoint (max-lg){
        padding: 80px 0;
        margin-bottom: 80px;
    }
}

.testimonial-section-inner {
    background-color: #FEDFEF;
    margin: 0 40px;
    border-radius: 40px;

    @include breakpoint (max-xxxl){
        margin: 0 40px;
    }

    @include breakpoint (max-xxl){
        margin: 0 30px;
    }

    @include breakpoint (max-xl){
        margin: 0 20px;
    }

    @include breakpoint (max-xxs){
        margin: 0 16px;
    }
}

.testimonial-inner-page {
    background-color: $bg-color;
    border-radius: 40px;
    margin: 0 50px;

    @include breakpoint (max-xxxl){
        margin: 0 40px;
    }

    @include breakpoint (max-xxl){
        margin: 0 30px;
    }

    @include breakpoint (max-xl){
        margin: 0 20px;
    }

    @include breakpoint (max-xxs){
        margin: 0 16px;
    }

    .testimonial-box-items-2 {
        @include breakpoint (max-xl){
            background-color: #C9DDE2;
        }

    }
}