.tetsimonial-box-items {
    position: relative;
    margin-top: 30px;
    text-align: center;
    position: relative;

    @include breakpoint (max-xl){
        background-color: #FEF4DE;
        border-radius: 16px;
    }

    .bg-shape {
       @include breakpoint (max-xl){
            display: none;
        }

        svg {
           @include imgw;
        }
    }

    .content {
        margin: 0 auto;
        position: absolute;
        top: 21px;
        left: 0;
        text-align: center;
        right: 0;
        padding: 0 50px;

        @include breakpoint (max-xl){
           position: static;
           padding: 20px;
        }

        h3 {
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        p {
            font-size: 18px;
            line-height: 144%;

            @include breakpoint (max-xl4){
                font-size: 15px;
            }
        }
    }
}

.testimonial-box-items-2 {
    margin-top: 50px;
    position: relative;

    @include breakpoint (max-xl){
        background-color: $bg-color;
        padding: 30px;
        border-radius: 16px;
    }

    .bg-thumb {
        @include breakpoint (max-xl){
            display: none;
        }
    }

    .content {
        text-align: center;
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;

         @include breakpoint (max-xl){
            position: static;
        }

        .client-image {
            margin-bottom: 10px;
            transition: all 900ms ease;
        }

        .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            max-width: 230px;
            text-transform: capitalize;
            font-style: italic;
            margin: 0 auto;
            color: $header-color;
        }
    }

    &:hover {
        .content {
            .client-image {
                transform: rotateY(360deg);
            }
        }
    }
}

.testimonial-section-2 {
    position: relative;
    margin-top: -30px;

    @include breakpoint (max-xl4){
        margin-top: -60px;
    }

     @include breakpoint (max-xxxl){
        margin-top: -40px;
    }

     @include breakpoint (max-xxl){
        margin-top: 0px;
    }

    @include breakpoint (max-xl){
        margin-top: 0;
    }

    .girl-shape {
        position: absolute;
        top: 25%;
        left: 60px;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .zirap-shape {
        position: absolute;
        bottom: 0;
        right: 0;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }
}