.tetsimonial-box-items {
    position: relative;
    margin-top: 30px;
    text-align: center;
    position: relative;

    .bg-shape {
        svg {
           @include imgw;
        }
    }

    .content {
        margin: 0 auto;
        position: absolute;
        top: 21px;
        left: 0;
        text-align: center;
        right: 0;
        padding: 0 50px;

        h3 {
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        p {
            font-size: 18px;
            line-height: 144%;
        }
    }
}

.testimonial-box-items-2 {
    margin-top: 50px;
    position: relative;

    .content {
        text-align: center;
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;

        .client-image {
            margin-bottom: 10px;
            transition: all 900ms ease;
        }

        .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            max-width: 230px;
            text-transform: capitalize;
            font-style: italic;
            margin: 0 auto;
            color: $header-color;
        }
    }

    &:hover {
        .content {
            .client-image {
                transform: rotateY(360deg);
            }
        }
    }
}

.testimonial-section-2 {
    position: relative;

    .girl-shape {
        position: absolute;
        top: 25%;
        left: 60px;
    }

    .zirap-shape {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}